{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/nightarkeypad/header.png",
      "fileBody" : "/interface/scripted/nightarkeypad/body_error.png",
      "fileFooter" : "/interface/scripted/nightarkeypad/footer.png"
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [110, 126]
    },

    "imgError" : {
      "type" : "image",
      "file" : "/interface/scripted/nightarkeypad/error.png",
      "position" : [36, 92],
      "zlevel" : 2
    }
  }
}
