*.2functions linguist-language=json
"achievement linguist-language=json
*.activeitem linguist-language=json
*.aimission linguist-language=json
*.animation linguist-language=json
*.augment linguist-language=json
*.back linguist-language=json
*.beamaxe linguist-language=json
*.behavior linguist-language=json
*.behavior-project linguist-language=json
*.biome linguist-language=json
*.bush linguist-language=json
*.chest linguist-language=json
*.cinematic linguist-language=json
*.codex linguist-language=json
*.collection linguist-language=json
*.combofinisher linguist-language=json
*.config linguist-language=json
*.configfunctions linguist-language=json
*.consumable linguist-language=json
*.currency linguist-language=json
*.cursor linguist-language=json
*.damage linguist-language=json
*.disabled linguist-language=json
*.dungeon linguist-language=json
*.effectsource linguist-language=json
*.event linguist-language=json
*.flashlight linguist-language=json
*.frames linguist-language=json
*.functions linguist-language=json
*.grass linguist-language=json
*.harvestingtool linguist-language=json
*.head linguist-language=json
*.inspectiontool linguist-language=json
*.instrument linguist-language=json
*.item linguist-language=json
*.itemdescription linguist-language=json
*.legs linguist-language=json
*.liqitem linguist-language=json
*.liquid linguist-language=json
*.material linguist-language=json
*.matitem linguist-language=json
*.matmod linguist-language=json
*.miningtool linguist-language=json
*.modularfoliage linguist-language=json
*.modularstem linguist-language=json
*.monsterpart linguist-language=json
*.monsterskill linguist-language=json
*.monstertype linguist-language=json
*.namesource linguist-language=json
*.nodes linguist-language=json
*.npctype linguist-language=json
*.object linguist-language=json
*.painttool linguist-language=json
*.parallax linguist-language=json
*.particle linguist-language=json
*.particlesource linguist-language=json
*.partparams linguist-language=json
*.patch linguist-language=json
*.projectile linguist-language=json
*.questtemplate linguist-language=json
*.radiomessage linguist-language=json
*.recipe linguist-language=json
*.spawntypes linguist-language=json
*.species linguist-language=json
*.stagehand linguist-language=json
*.statuseffect linguist-language=json
*.structure linguist-language=json
*.tech linguist-language=json
*.tenant linguist-language=json
*.terrain linguist-language=json
*.thrownitem linguist-language=json
*.tillingtool linguist-language=json
*.tooltip linguist-language=json
*.treasurepools linguist-language=json
*.unlock linguist-language=json
*.vehicle linguist-language=json
*.weaponability linguist-language=json
*.weather linguist-language=json
*.wiretool linguist-language=json
