{
  "version" : "0.5",
  "changelog" : "
^cyan;New in version 0.5^reset;
^#ff0000;---- This mod is no longer compatible with Frackin' Universe ----^reset;

* Pixels changed to ^green;Credits^reset;

* Ztarbound integration
    * Nightar Replicator made available to vanilla races via research tree
    * New research currency, ^cyan;Engrams^reset;, available for unlocking research nodes

* Like Pixels, research can be converted to voxels at the same tiers as pixels and are made/redeemed at the Pixel Compressor

* Re-organized default recipe and unlock methods

* New placeable crafting stations:
    * Augment Station
    * Enhancer

* A New Tier 7 armor set is now available for all races [^cyan;Enhancer^reset;]

* Augments can now be crafted [^cyan;Augment Station^reset;]

* New UI integration (may be consolidated to its own separate mod later, pending feedback)

* ^orange;Nightfort mission scrapped^reset; (I'm currently working on a replacement, as well as a custom starting mission, so stay tuned!)

* Nightium Shard renamed to ^cyan;Dark Fragment^reset;
    * Made naturally-occuring in planet depths

* Nightium Crystal renamed to ^cyan;Dark Crystal^reset;

* The Blackened biome is now the ^#1e272d;Black Moon^reset; biome

* Liquid Noxeum renamed to ^cyan;Liquid Ceruleum^reset;

* Made Healing Water craftable at Medical Station 2

* Various crafting items now available (for new crafting stations)

* Nightar armors are now crafted at the Replicator
    * Tiers 5-6 require the appropriate ^orange;addon module^reset; attached
",

  "welcome" : "^cyan;The Nightars: Rebirth^reset;
Thank you for downloading this version of The Nightars race mod! This version branches off into its own, vanilla-based branch, and sadly is no longer compatible with Frackin' Universe (Sayter has integrated the Nightars into FU, and I am working with him on getting the assets up to date).

^orange;-- This mod was thoroughly tested with both the stable and unstable versions of Starbound. --",
  "credits" : "#file#/_NightarCredits.config",
  "info" : "^cyan;The Nightars: Rebirth^reset;
Thank you for downloading this version of The Nightars race mod! This version branches off into its own, vanilla-based branch, and sadly is no longer compatible with Frackin' Universe (Sayter has integrated the Nightars into FU, and I am working with him on getting the assets up to date).

^orange;-- This mod was thoroughly tested with both the stable and unstable versions of Starbound. --"
}
