{
  "version" : "1.0",
  "changelog" : "
^cyan;New in version 1.0^reset;
^red;---- This mod is no longer compatible with Frackin' Universe ----^reset;

* Ztarbound integration
    * Nightar Replicator made available to vanilla races via research tree
    * New research currency, ^cyan;Engrams^reset;, available for unlocking research nodes

* Research Engrams are found primarily in Apex microdungeouns (an object exists for generating some, but I'm still ironing out some kinks with the Lua)

* Collected research can be converted to voxels at the same tiers as pixels and are redeemed at the Pixel Compressor

* Re-organized default recipe and unlock methods

* Revised hotbar graphics to fit Nightar theme

* New placeable crafting stations:
    * Augment Station
    * Enhancer

* New Tier 7 armor available for all races [^cyan;Enhancer^reset;]

* Augments can now be crafted [^cyan;Augment Station^reset;]

* New UI integration (may be consolidated to its own separate mod later, pending feedback)

* Nightfort mission scrapped, working on a replacement

* Nightium Shard renamed to ^cyan;Dark Fragment^reset;
    * Made naturally-occuring in planet depths

* Nightium Crystal renamed to ^cyan;Dark Crystal^reset;

* Parallax changes for Blackened biome

* Liquid Noxeum renamed to ^cyan;Liquid Ceruleum^reset;

* Made Healing Water craftable at Medical Station 2

* Various crafting items now available (for new crafting stations)

* Nightar armors are now crafted at the Replicator
    * Tiers 5-6 require the ^purple;Separator^reset; Module attached
",

//* New ship designs (based on the newer Avali ships)

//* Nightfort mission scrapped, replaced with custom intro mission",

  "welcome" : "",
  "credits" : "#file#/_NightarCredits.config",
  "info" : "^cyan;The Nightars (Revived)^reset;
Thank you for downloading this version of The Nightars race mod! This version branches off into its own, vanilla-based branch, and sadly is no longer compatible with Frackin' Universe (FU has integrated the Nightars into their mod, and I am doing my part to ensure that the FU Nightar stuff is up-to-date with my edits, and vice-versa).

In regards to the Enhancer, it was originally planned to have all tiered armors to be re-crafted with augment slots, hence the name. I'm still debating on whether or not I want to undertake that monstrosity. If you'd like to see support added for other custom races, leave a comment on the thread; though do be advised, I cannot guarantee compatibility by doing so.

^orange;-- This mod was thoroughly tested with both the stable and unstable versions of Starbound. --"
}
