{
  "version" : "1.0",
  "changelog" : "
^cyan;New in version 1.0^reset;

* Ztarbound integration (^red;will break compatibility with Frackin' Universe!^reset;)

* Re-organized default recipe and unlock methods

* Revised hotbar graphics to fit Nightar theme

* Various new items added

* New ship designs (based on the newer Avali ships)

* Nightfort mission scrapped, replaced with custom intro mission",

  "welcome" : "",
  "credits" : "#file#/_NightarCredits.config",
  "info" : "^cyan;The Nightars (Revived)^reset;
Thank you for installing this version of The Nightars race mod! This version branches off into its own, vanilla-based branch, and is no longer compatible with Frackin' Universe (FU has integrated the Nightars into their mod, and I am doing my part to ensure that their Nightar stuff is up-to-date with my edits)."
}
