{
  "credits" : "
This content was originally created by:
- ^cyan;iMisterX^reset;

Maintained by:
- ^green;Absolute Xero^reset;

Contributors, reference/additional materials, and general thanks:
- Iroaseta
- Kat of Kats
- Ancev Caine
- Joseph K
- Ickura
- Djinn
- zimberzimber
- bk3k
- Starbound Development Team
- And ^orange;you^reset;! :)

Disclaimer: I had sourced/referenced a lot of other mods to make sure things were as seamless as possible. If you are a modder and notice your content here and are not credited or would like said content pulled, please don't hesitate to contact me and I'll be glad to take the necessary steps.


"
}
