{
  "version" : "0.1",
  "changelog" : "

__________________________________________________
  ^cyan;New in version 0.1^reset;

  > Vanta Race Introduction

  > Armors added for tiers 1-4, tiers 5-6 have appropriate Accelerator, Manipulator, and Separator variants

  > Codexes fixed (FINALLY)

  >
",

  "welcome" : "^cyan;The Vanta Race^reset;
The Vanta race are an offshoot of the Nightar race, with improvements to their overall armaments and history.

Along with the race, this mod adds a few extra items, materials, and currently, a single extra biome. This mod includes some ZB extras for the Vanta, so you can play as the race along with FU. BYOS issues should be brought up with the FU team.

TBD
",
  "credits" : "#file#/_NightarCredits.config",
  "info" : "^orange;TBD^reset;





"
}
