{
  "credits" : "
^cyan;>>> DISCLAIMER <<<^reset;
All content in this mod is either hand-crafted personally or has been derived from external sources. External sourcing was implemented after either permission was obtained or was otherwise stated up-front as ^red;free-use at the time of its integration^reset;. If you are among those whose content or derivatives of your content is here and you have not received attribution here or would like it removed, please reach out to me and I'll address it ASAP.


^cyan;>>> ORIGINAL AUTHOR <<<^reset;
* iMisterX - the original ^orange;Nightar Race^reset; mod


^cyan;>>> MAINTAINED BY <<<^reset;
* AbsoluteXeroEX


^cyan;>>> BASE GAME ASSETS <<<^reset;
* Chucklefish Ltd.


^cyan;>>> MUSIC <<<^reset;
* The Blake Robinson Synthetic Orchestra
* Freeplay Music
* Ischanroth
* MelodyBox
* Pete Lepley (FKA: Phonetic Hero)
* Presence of Music
* Tom Hedden


^cyan;>>> SPECIAL THANKS <<<^reset;
* Ancev Caine
* AssHatSociety
* bk3k
* Cat Face Emoji (literally just the emoji)
* C0bra5
* Derpfenrier
* Djinn
* DogWithAShotgun
* EtiTheSpirit (AKA: XanTheDragon)
* FieryExplosion
* grayhatgraycat
* Ickura
* Joseph K
* KryoBound
* Llechourian
* Magma Mk-II
* Murphmario
* Omeruin
* Photoloss
* Quiqksilver
* Ribs351
* Santerpipe
* Sashyme
* Sayter
* Sheila the Kitty
* SMITHYGCN
* Storm_UK
* SubmarineKnight
* ThatThunderCookie
* Wellbott
* zimberzimber
"
}
