{
  "version" : "Version 2.1.0-rc1.1",
  "changelog" : "

^cyan;2.1.0-rc1.1^reset;
--------------------
* Vanta tiers 5 and 6 armors now have Accelerator, Manipulator, and Separator variants
    - As a result of the armor changes, the Vanta replicator has undergone a major redesign and now has its own Accelerator, Manipulator, and Separator addons
* New eye colors and two new body shades have been added to Vanta character creation


^cyan;2.1.0-rc1.0^reset;
--------------------
* Starbound MSQ has been duplicated for Vanta characters in its entirety to resolve script interference issues with other races that have custom intro missions
* Vanta story arc is now in staging
* Vanta intro mission is currently being overhauled


^cyan;2.0.3^reset;
--------------------
* Updated elevator code PocSec so that the correct combination is shown
* Made it impossible to die during intro, thereby nullifying breaking Vanta characters altogether
* Updated images/colors for prop doors
* Fixed scripting issue where skipping intro quest forever stalls story progression (this also fixes the issue of the initial radiomessage from SAIL telling you to get your bearings)


^cyan;2.0.2^reset;
--------------------
* Tyrant Guillotine animation fixed so that it shows up properly


^cyan;2.0.1^reset;
--------------------
* Vanta Iron Spatha reclassified as tier 1, recipe properly re-added
* Recipe for Galatyn added to restore weapon crafting sequence
* Stealth Dagger variant recipes temporarily removed
* Vanta Saber recipe temporarily removed


^cyan;2.0.0^reset;
--------------------
* New custom intro mission to establish the disposition of the Vanta and Nightar races
* New starter items:
    - Weathered Vanta Saber
    - Weathered Dagger
    - Weathered Pico Handgun (formerly \"Weathered Sidearm\")
    - Weathered Bangle
    - Weathered Grimoire
    - Weathered Gunblade
* T1-T6 updated armors
* Added 'Personal Monitor' essential item as default recipe (all races)
* Codex updates
* Implemented xCustomCodex engine by EtiTheSpirit in a non-conflicting manner
* New Stealth techs
* New Sphere techs
* Wall Jump tech variants


^cyan;1.0.0^reset;
--------------------
Initial re-release (Nightar ==> Vanta)
  ",

  //-------------------------------------------------------------------------------------------------
  //------------------------------------------ Other texts ------------------------------------------
  //-------------------------------------------------------------------------------------------------

  "welcome" : "
Thank you for installing the mod! I'm constantly working on improvements, but since I'm only one person, updates will be slow.

I added this for ZB so that people who have other mods that use ZB or have ZB as a standalone mod can more easily see changes.

^cyan;ATTN: Steam Workshop Users^reset;
While technically the Steam workshop page can be used for reporting issues, please note that Steam doesn't provide an active notification system for me to see updates regularly; I HIGHLY recommend using the ^green;GitHub^reset; page to report issues instead, as I can receive priority notifications that way. You can report mod issues on the GitHub page at https://github.com/VantaSB/vanta-race/issues",

  "credits" : "#file#/_Vantacredits.config",

  "info" : "
  ^orange;Incompatible Mods^reset;
  --------------------
  * ^yellow;Frackin' Universe^reset; - Duplicate items, objects, and materials may cause issues
  * ^yellow;Nightar Race^reset; - See above
  "
}
