{
  "version" : "0.1",
  "changelog" : "

__________________________________________________
  ^cyan;New in version 0.1^reset;

  > Vanta Race Introduction

  > Armor for tiers 1-4 updated; added Manipulator sets for tiers 5 and 6, added Accelerator set for tier 5

  > New Codices
",

  "welcome" : "^cyan;The Vanta Race^reset;

^orange;TBD^reset;

NOTE: There are currently some leftover bits from the Nightars; this is intentional.
",
  "credits" : "#file#/_NightarCredits.config",
  "info" : "^orange;TBD^reset;





"
}
