{
  "credits" : "
This content was originally created by:
- iMisterX

Maintained by:
- Absolute Xero

Contributors, reference/additional materials, and general thanks:
- Kat of Kats
- Ancev Caine
- Joseph K
- Ickura
- MShadowy
- Djinn
- sashyme/grayhatgraycat
- Starbound Development Team
- And ^green;you^reset;! :)"
}
