{
  "version" : "1.0",
  "changelog" : "

__________________________________________________
  ^cyan;New in version 1.0^reset;

  * Nightars Rebirth Project re-established (Vanta Race introduction)

  * New/Updated armor sets for Vanta (Nightar Armor sets remain for Nightar NPCs)

  * New codex entries

  * Ran's Castle assets removed/no longer craftable (see next two points)

  * New Outpost NPC, Ran, is available after Erchius Mission (will appear at the base of the steps leading down to the Ark)

  * Nightar objects and materials are now craftable (Wooden and Metal Worktables)

  * ^orange;Ztarbound^reset; integration for Vanta-specific progression (research)

  * New Biome: ^#1e272d;Black Moon^reset; - Ocean-like satellite body with freezing rains and an abundance of ^blue;Liquid Ceruleum^reset;, which can be used as fuel

  * New natural resource: ^cyan;Dark Fragment^reset; - Can be found on all planet types (except ^pink;Moon^reset;), more abundant in higher-tier planets



",

  "welcome" : "
Thank you for installing the Vanta Race mod! This mod is a continuation of the Nightars Race mod for vanilla Starbound. I hope you enjoy the new content as I continue to develop upon this! If you have any suggestions or need to report an issue, please use the GitHub page at https://github.com/AbsoluteXeroEX/vanta-race (I rarely check my Steam or the forums for anything, and get priority notifications with GitHub.)

^green;PLANNED FEATURES:^reset;

* Nightar-based story expansion w/new missions & revamped Nightfort mission

* Nightar/Vanta-based settlements



",

  "credits" : "#file#/_VantaCredits.config",

  "info" :
"^orange;Compatibility Notes:^reset;

Frackin' Universe [^red;Incompatible^reset;] - A number of the older Nightar assets are present here as well as within FU, so sideloading both of them together will cause the game to crash. For FU Nightar issues, please speak with Sayter or any of the other FU devs, as I've been mostly hands-off with their FU development.

Ztarbound [^orange;Use Caution^reset;] - Included with this mod by default; will cause issues with other mods that include ZB core assets, may cause issues with other mods that simply 'use' ZB.



"
}
