{
  "credits" : "

^cyan;Original Author^reset;
* iMisterX

^cyan;Maintained By^reset;
* AbsoluteXeroEX

^cyan;Base Assets^reset;
* Chucklefish Ltd.

^cyan;Music^reset;
* Presence of Music
* Freeplay Music

^cyan;Contributors, Inspirations and references, and Thanks^reset;
* Ancev Caine
* AssHatSociety - Weapon Inspirations
* bk3k
* Cat Face Emoji (literally just the emoji)
* C0bra5
* Derpfenrier - Weapon Inspirations
* Djinn - Peglaci base assets
* EtiTheSpirit / XanTheDragon - Codex System
* grayhatgraycat - Original Advanced Frigate ship mod assets
* Ickura
* Joseph K - Constructive feedback and Ceruleum Wraith (you rock, dude!)
* KryoBound - Weapon Inspirations
* Llechourian  - Weapon Inspirations
* Photoloss - Weapon Inspirations
* Quiqksilver - Weapon Inspirations
* Ribs351 - Weapon Inspirations
* Santerpipe - Weapon Inspirations
* Sashyme - Advanced Frigate ship mod revival
* Sayter
* Sheila the Kitty
* Storm_UK - Greebles stuff
* SubmarineKnight - \"Stinger\" ship design
* ThatThunderCookie - Weapon inspirations and historical custom weapon references
* Wellbott - Original stealth tech
* zimberzimber - Ztarbound

If you are among those whose content or derivative content is here and you have not received attribution here, please reach out to me and I'll get your name in here ASAP!
"
}
