{
	"gui" : {
		"canvas" : {
			"zlevel" : -19,
			"type" : "canvas",
			"rect" : [12, 12, 405, 304],
			"captureMouseEvents" : true,
			"captureKeyboardEvents" : false
		},

		"background" : {
			"zlevel" : -1,
			"type" : "background",
			"fileHeader" : "/interface/scripted/ex_research/header.png",
			"fileBody" : "/interface/scripted/ex_research/body.png"
		},

		"title" : {
			"type" : "label",
			"position" : [508, 296],
			"hAnchor" : "mid",
			"value" : ""
		},

		"researchButton" : {
			"type" : "button",
			"position" : [468, 11],
			"base" : "/interface/scripted/ex_research/researchButton.png:default",
			"hover" : "/interface/scripted/ex_research/researchButton.png:hover",
			"disabledImage" : "/interface/scripted/ex_research/researchButton.png:grayed",
			"caption" : "Research"
		},

		"treePickButton" : {
			"type" : "button",
			"position" : [14, 286],
			"base" : "/interface/scripted/ex_research/buttons.png:treePick:default",
			"hover" : "/interface/scripted/ex_research/buttons.png:treePick:hover",
			"pressed" : "/interface/scripted/ex_research/buttons.png:treePick:default",
			"disabledImage" : "/assetmissing.png",
			"pressedOffset" : [0,0]
		},

		"searchButton" : {
			"type" : "button",
			"position" : [32, 286],
			"base" : "/interface/scripted/ex_research/buttons.png:search:default",
			"hover" : "/interface/scripted/ex_research/buttons.png:search:hover",
			"pressed" : "/interface/scripted/ex_research/buttons.png:search:default",
			"disabledImage" : "/assetmissing.png",
			"pressedOffset" : [0,0]
		},

		"centerButton" : {
			"type" : "button",
			"position" : [50, 286],
			"base" : "/interface/scripted/ex_research/buttons.png:center:default",
			"hover" : "/interface/scripted/ex_research/buttons.png:center:hover",
			"pressed" : "/interface/scripted/ex_research/buttons.png:center:default",
			"disabledImage" : "/assetmissing.png",
			"pressedOffset" : [0,0]
		},

		"qualityButton" : {
			"type" : "button",
			"position" : [68, 286],
			"base" : "/interface/scripted/ex_research/buttons.png:quality:default",
			"hover" : "/interface/scripted/ex_research/buttons.png:quality:hover",
			"pressed" : "/interface/scripted/ex_research/buttons.png:quality:default",
			"disabledImage" : "/assetmissing.png",
			"pressedOffset" : [0,0]
		},

		"closeButton" : {
			"type" : "button",
			"position" : [387, 286],
			"base" : "/interface/scripted/ex_research/buttons.png:close:default",
			"hover" : "/interface/scripted/ex_research/buttons.png:close:hover",
			"pressed" : "/interface/scripted/ex_research/buttons.png:close:default",
			"disabledImage" : "/assetmissing.png",
			"pressedOffset" : [0,0]
		},

		"cheatBox" : {
			"type" : "textbox",
			"visible" : false,
			"position" : [10, 7],
			"fontSize" : 7,
			"text" : "",
			"enterKey" : "cheat",
			"hint" : ":)",
			"callback" : "null"
		},

		"infoList" : {
			"type" : "scrollArea",
			"rect" : [410, 58, 606, 292],
			"children" : {
				"text" : {
					"type" : "label",
					"position" : [2, 17],
					"vAnchor" : "bottom",
					"fontSize" : 7,
					"wrapWidth" : 182,
					"value" : ""
				},
				"unlocksLabel" : {
					"type" : "label",
					"visible" : false,
					"position" : [2, 2],
					"vAnchor" : "bottom",
					"fontSize" : 7,
					"value" : "^green;Unlocks:\n"
				},
				"unlocks" : {
					"type" : "list",
					"callback" : "null",
					"schema" : {
						"selectedBG" : "/assetmissing.png",
						"unselectedBG" : "/assetmissing.png",
						"spacing" : [2, 2],
						"memberSize" : [184, 18],
						"listTemplate" : {
							"item0" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [0, 0],
								"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
								"callback" : "null"
							},
							"item1" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [20, 0],
								"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
								"callback" : "null"
							},
							"item2" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [40, 0],
								"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
								"callback" : "null"
							},
							"item3" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [60, 0],
								"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
								"callback" : "null"
							},
							"item4" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [80, 0],
								"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
								"callback" : "null"
							},
							"item5" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [100, 0],
								"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
								"callback" : "null"
							},
							"item6" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [120, 0],
								"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
								"callback" : "null"
							},
							"item7" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [140, 0],
								"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
								"callback" : "null"
							},
							"item8" : {
								"type" : "itemslot",
								"visible" : false,
								"position" : [160, 0],
								"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
								"callback" : "null"
							}
						}
					}
				}
			}
        },

		"searchList" : {
			"type" : "scrollArea",
			"rect" : [410, 58, 606, 292],
			"visible" : false,
			"children" : {
				"list" : {
					"type" : "list",
					"callback" : "researchSelected",
					"schema" : {
						"selectedBG" : "/assetmissing.png",
						"unselectedBG" : "/assetmissing.png",
						"spacing" : [0, 2],
						"memberSize" : [184, 16],
						"listTemplate" : {
							"title" : {
								"type" : "button",
								"position" : [0, 0],
								"base" : "/interface/scripted/ex_research/listBG.png:default",
								"hover" : "/interface/scripted/ex_research/listBG.png:hover",
								"disabledImage" : "/interface/scripted/ex_research/listBG.png:default",
								"pressedOffset" : [0,0],
								"caption" : "",
								"callback" : "null"
							},

							"icon" : {
								"type" : "image",
								"file" : "/assetmissing.png",
								"position" : [2, 0]
							}
						}
					}
				}
			}
        },

		"treeList" : {
			"type" : "scrollArea",
			"rect" : [410, 58, 606, 292],
			"visible" : false,
			"children" : {
				"list" : {
					"type" : "list",
					"callback" : "treeSelected",
					"schema" : {
						"selectedBG" : "/assetmissing.png",
						"unselectedBG" : "/assetmissing.png",
						"spacing" : [0, 2],
						"memberSize" : [184, 16],

						"listTemplate" : {
							"title" : {
								"type" : "button",
								"position" : [0, 0],
								"base" : "/interface/scripted/ex_research/listBG.png:default",
								"hover" : "/interface/scripted/ex_research/listBG.png:hover",
								"disabledImage" : "/interface/scripted/ex_research/listBG.png:default",
								"pressedOffset" : [0,0],
								"callback" : "null"
							}
						}
					}
				}
			}
        },

		"priceItem1" : {
			"type" : "itemslot",
			"position" : [413, 34], //iconsize 18 spacing 2
			"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
			"callback" : "null"
		},

		"priceItem2" : {
			"type" : "itemslot",
			"position" : [433, 34],
			"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
			"callback" : "null"
		},

		"priceItem3" : {
			"type" : "itemslot",
			"position" : [453, 34],
			"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
			"callback" : "null"
		},

		"priceItem4" : {
			"type" : "itemslot",
			"position" : [473, 34],
			"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
			"callback" : "null"
		},

		"priceItem5" : {
			"type" : "itemslot",
			"position" : [493, 34],
			"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
			"callback" : "null"
		},

		"priceItem6" : {
			"type" : "itemslot",
			"position" : [513, 34],
			"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
			"callback" : "null"
		},

		"priceItem7" : {
			"type" : "itemslot",
			"position" : [533, 34],
			"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
			"callback" : "null"
		},

		"priceItem8" : {
			"type" : "itemslot",
			"position" : [553, 34],
			"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
			"callback" : "null"
		},

		"priceItem9" : {
			"type" : "itemslot",
			"position" : [573, 34],
			"backingImage" : "/interface/scripted/ex_research/itemSlot.png",
			"callback" : "null"
		}
	},

	"canvasClickCallbacks" : { "canvas" : "canvasClickEvent" },
	"scriptWidgetCallbacks" : [ "researchButton", "centerButton", "treePickButton", "searchButton", "cheat", "researchSelected", "treeSelected", "closeButton", "qualityButton" ],

	"scripts" : ["/interface/scripted/ex_research/researchTree.lua"],
	"scriptDelta" : 1
}
