{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Adela", "Adriana", "Aelia", "Alesis", "Alina", "Ana", "Anamaria", "Antonia", "Aurelia", "Bianca", "Camilla", "Cassia", "Catina", "Claudia", "Cornelia", "Dana", "Daria", "Delia", "Demetra", "Diana", "Emilia", "Eva", "Felicia", "Juli", "Julia", "Juliana", "Junia", "Katina", "Laelia", "Liana", "Livia", "Luca", "Lucia", "Lucretia", "Malina", "Nona", "Paulina", "Petronia", "Quintina", "Rosalia", "Roxana", "Sabina", "Silvia", "Simona", "Sonia", "Tatiana", "Tullia", "Valentina", "Valeria", "Vega", "Vera", "Virginia", "Vita" ]
    ]
  ]
}
