{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Aelianus", "Aelius", "Albus", "Altair", "Andrei", "Anton", "Augustus", "Aurelius", "Avitus", "Bandi", "Barta", "Benedek", "Celsus", "Cassian", "Cato", "Darius", "Doru", "Egil", "Emil", "Erik", "Etele", "Felix", "Gaius", "Gazsi", "Gunnar", "Henrik", "Iovita", "Isoc", "Ivan", "Jakob", "Janus", "Karcsi", "Kristof", "Lazar", "Longinus", "Lucian", "Lucius", "Marcus", "Marton", "Mihail", "Miklos", "Milan", "Miron", "Nero", "Nicolai", "Razvan", "Regulus", "Soma", "Sorin", "Stelian", "Titus", "Toma", "Valerian", "Vali", "Vega", "Vergil" ]
    ]
  ]
}
