{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Alys", "Aluette", "Arna", "Bela", "Cedira", "Cordia", "Danica", "Donne", "Ellen", "Fidona", "Fran", "Hatia", "Kristyn", "Kukra", "Lachelle", "Ladonia", "Lilja", "Lyna", "Malina", "Milanka", "Mydia", "Nora", "Petra", "Piane", "Qestra", "Rachine", "Rael", "Rena", "Ruzica", "Shara", "Sonja", "Sophie", "Thesa", "Ukina", "Una", "Valentyne", "Vela", "Venase", "Yuma", "Ziva", "Zora", "Zrina" ]
    ]
  ]
}
