{
  "names" : [
    { "mode" : "alts" },
		[
      { "mode" : "serie" },
      [ { "mode" : "alts" },
				"Achaemenes", "Altan", "Anaru", "Aroha", "Arshaka", "Artaxerxes", "Bagadata",
				"Bayard", "Brunello", "Cambyses", "Conphas", "Cyriac", "Dalmas", "Darayavaush",
				"Eleazar", "Enkh", "Erdem", "Erasmus", "Ganbold", "Ganelon", "Ganzorig",
				"Gerelt", "Gyatso", "Hemi", "Hohepa", "Jargal", "Kambujiya", "Kauri",
				"Kunzang", "Kurush", "Mikaere", "Mithradatha", "Naranbaatar", "Navarre", "Nergui",
				"Norbu", "Paora", "Patariki", "Rangi", "Raulin", "Sacrapant", "Tama",
				"Tane", "Tenzin", "Wiremu"
			]
    ]
  ]
}
