{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "serie" }, "Aed", "Athanasi", "Blazh", "Bran", "Cael", "Cian", "Dalibor", "Dagda", "Drazhan", "Finn", "Kyrilu", "Lir", "Liudevit", "Lugh", "Mirche", "Naoise", "Radovan", "Samo", "Slaine", "Voitsekh" ]
    ]
  ]
}
