{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Aeditha", "Airell", "Aislinn", "Alainne", "Aldyet", "Alicen", "Amelia", "Amice", "Amphelice", "Ayleth", "Aylufa", "Braya", "Ceana", "Chaele", "Diamanda", "Eara", "Elfleda", "Fhlae", "Fiachre", "Finnea", "Geva", "Ginnade", "Gloiucen", "Glynnis", "Godeleva", "Gudytha", "Gylda", "Hedheue", "Hemin", "Hida", "Ianna", "Jocea", "Keaira", "Keitha", "Lefleda", "Lina", "Linyeve", "Maeve", "Meara", "Meriel", "Mildthryth", "Mydrede", "Nuala", "Ositha", "Seburga", "Sileas", "Synnove", "Theldry", "Tieve" ]
    ]
  ]
}
