{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Albin", "Aldous", "Anselmet", "Augustine", "Bayard", "Bran", "Conphas", "Coster", "Cyriac", "Dalmas", "Eleazar", "Erasmus", "Esmour", "Esperaunce", "Etgar", "Guston", "Gwayne", "Gylbart", "Hewrey", "Hoddyn", "Kerrich", "Ladislas", "Lambert", "Laurence", "Laurentius", "Lodwicke", "Mainfroi", "Mathye", "Mordyn", "Navarre", "Orisic", "Osric", "Powle", "Raulin", "Ribald", "Roarich", "Rothe", "Sigurdh", "Talan", "Vannes", "Voyce" ]
    ]
  ]
}
