{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Aelianus", "Altair", "Aluette", "Alys", "Arna", "Avitus", "Barta", "Bela", "Benedek", "Cassian", "Cato", "Cedira", "Cordia", "Danica", "Darius", "Donne", "Doru", "Egil", "Ellen", "Emil", "Etele", "Felix", "Fidona", "Fran", "Gazsi", "Gunnar", "Hatia", "Henkrik", "Iovita", "Isoc", "Jakob", "Janus", "Karcsi", "Kristof", "Kristyn", "Kukra", "Lachelle", "Ladonia", "Lazar", "Lilja", "Lucian", "Lyna", "Malina", "Mikhail", "Miklos", "Milan", "Milanka", "Miron", "Mydia", "Nero", "Nicolai", "Nora", "Petra", "Piane", "Qestra", "Rachine", "Rael", "Razvan", "Regulus", "Rena", "Ruzica", "Shara", "Soma", "Sonja", "Sophie", "Sorin", "Stelian", "Titus", "Thesa", "Toma", "Ukina", "Una", "Valentyne", "Valerian", "Vali", "Vega", "Vela", "Venase", "Vergil", "Yuma", "Ziva", "Zora", "Zrina" ]
    ]
  ]
}
