{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "serie" }, "Anayeli", "Aoife", "Bebinn", "Brighid", "Cliodhna", "Daireann", "Eimhear", "Eriu", "Feidlimid", "Grainne", "Maeve", "Morrighan", "Muirne", "Nayeli", "Neasa", "Niamh", "Righnach", "Sabia", "Sionann", "Xiadani", "Zyanya" ]
    ]
  ]
}
