{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/vantakeypad/header.png",
      "fileBody" : "/interface/scripted/vantakeypad/body.png",
      "fileFooter" : "/interface/scripted/vantakeypad/footer.png"
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [110, 126]
    },

    "imgDigit1" : {
      "type" : "image",
      "file" : "/interface/scripted/vantakeypad/asterisk.png",
      "position" : [48, 120],
      "zlevel" : 2
    },
    "imgDigit2" : {
      "type" : "image",
      "file" : "/interface/scripted/vantakeypad/asterisk.png",
      "position" : [62, 120],
      "zlevel" : 2
    },
    "imgDigit3" : {
      "type" : "image",
      "file" : "/interface/scripted/vantakeypad/asterisk.png",
      "position" : [76, 120],
      "zlevel" : 2
    },
    "imgDigit4" : {
      "type" : "image",
      "file" : "/interface/scripted/vantakeypad/asterisk.png",
      "position" : [90, 120],
      "zlevel" : 2
    },

    "btnDigit1" : {
      "type" : "button",
      "base" : "/interface/scripted/vantakeypad/button_1.png:default",
      "hover" : "/interface/scripted/vantakeypad/button_1.png:highlight",
      "pressed" : "/interface/scripted/vantakeypad/button_1.png:default",
      "pressedOffset" : [0, 0],
      "position" : [45, 96],
      "callback" : "enterDigit",
      "data" : "1"
    },
    "btnDigit2" : {
      "type" : "button",
      "base" : "/interface/scripted/vantakeypad/button_2.png:default",
      "hover" : "/interface/scripted/vantakeypad/button_2.png:highlight",
      "pressed" : "/interface/scripted/vantakeypad/button_2.png:default",
      "pressedOffset" : [0, 0],
      "position" : [65, 96],
      "callback" : "enterDigit",
      "data" : "2"
    },
    "btnDigit3" : {
      "type" : "button",
      "base" : "/interface/scripted/vantakeypad/button_3.png:default",
      "hover" : "/interface/scripted/vantakeypad/button_3.png:highlight",
      "pressed" : "/interface/scripted/vantakeypad/button_3.png:default",
      "pressedOffset" : [0, 0],
      "position" : [85, 96],
      "callback" : "enterDigit",
      "data" : "3"
    },
    "btnDigit4" : {
      "type" : "button",
      "base" : "/interface/scripted/vantakeypad/button_4.png:default",
      "hover" : "/interface/scripted/vantakeypad/button_4.png:highlight",
      "pressed" : "/interface/scripted/vantakeypad/button_4.png:default",
      "pressedOffset" : [0, 0],
      "position" : [45, 76],
      "callback" : "enterDigit",
      "data" : "4"
    },
    "btnDigit5" : {
      "type" : "button",
      "base" : "/interface/scripted/vantakeypad/button_5.png:default",
      "hover" : "/interface/scripted/vantakeypad/button_5.png:highlight",
      "pressed" : "/interface/scripted/vantakeypad/button_5.png:default",
      "pressedOffset" : [0, 0],
      "position" : [65, 76],
      "callback" : "enterDigit",
      "data" : "5"
    },
    "btnDigit6" : {
      "type" : "button",
      "base" : "/interface/scripted/vantakeypad/button_6.png:default",
      "hover" : "/interface/scripted/vantakeypad/button_6.png:highlight",
      "pressed" : "/interface/scripted/vantakeypad/button_6.png:default",
      "pressedOffset" : [0, 0],
      "position" : [85, 76],
      "callback" : "enterDigit",
      "data" : "6"
    },
    "btnDigit7" : {
      "type" : "button",
      "base" : "/interface/scripted/vantakeypad/button_7.png:default",
      "hover" : "/interface/scripted/vantakeypad/button_7.png:highlight",
      "pressed" : "/interface/scripted/vantakeypad/button_7.png:default",
      "pressedOffset" : [0, 0],
      "position" : [45, 56],
      "callback" : "enterDigit",
      "data" : "7"
    },
    "btnDigit8" : {
      "type" : "button",
      "base" : "/interface/scripted/vantakeypad/button_8.png:default",
      "hover" : "/interface/scripted/vantakeypad/button_8.png:highlight",
      "pressed" : "/interface/scripted/vantakeypad/button_8.png:default",
      "pressedOffset" : [0, 0],
      "position" : [65, 56],
      "callback" : "enterDigit",
      "data" : "8"
    },
    "btnDigit9" : {
      "type" : "button",
      "base" : "/interface/scripted/vantakeypad/button_9.png:default",
      "hover" : "/interface/scripted/vantakeypad/button_9.png:highlight",
      "pressed" : "/interface/scripted/vantakeypad/button_9.png:default",
      "pressedOffset" : [0, 0],
      "position" : [85, 56],
      "callback" : "enterDigit",
      "data" : "9"
    },
    "btnDigit0" : { //shift x:44 - y:14
      "type" : "button",
      "base" : "/interface/scripted/vantakeypad/button_0.png:default",
      "hover" : "/interface/scripted/vantakeypad/button_0.png:highlight",
      "pressed" : "/interface/scripted/vantakeypad/button_0.png:default",
      "pressedOffset" : [0, 0],
      "position" : [45, 36],
      "callback" : "enterDigit",
      "data" : "0"
    },


    "btnClear" : {
      "type" : "button",
      "base" : "/interface/scripted/vantakeypad/button_clear.png:default",
      "hover" : "/interface/scripted/vantakeypad/button_clear.png:highlight",
      "pressed" : "/interface/scripted/vantakeypad/button_clear.png:default",
      "pressedOffset" : [0, 0],
      "position" : [65, 36],
      "callback" : "clear"
    },

    "imgStatusLight" : {
      "type" : "image",
      "file" : "/interface/scripted/vantakeypad/statuslight.png:red",
      "position" : [8, 82],
      "zlevel" : 2
    }
  },

  "scriptWidgetCallbacks" : [
    "enterDigit",
    "clear"
  ],

  "scripts" : ["/interface/scripted/vantakeypad/vantakeypadgui.lua"],
  "scriptDelta" : 5,

  "statusLightImage" : "/interface/scripted/vantakeypad/statuslight.png",
  "flashTime" : 1.0
}
