{
  "researchTree" : {
    "vantapsionics" : {
      "basic" : {
        "icon" : "/interface/scripted/research/icons/vanta.png",
        "children" : [ "psiFireBasic", "psiIceBasic", "psiElecBasic", "psiPoisBasic" ],
        "position" : [0, 0]
      },

      "psiFireBasic" : {
        "icon" : "/interface/scripted/research/icons/psi_fire.png",
        "children" : [],
        "position" : [40, -30]
      },

      "psiIceBasic" : {
        "icon" : "/interface/scripted/research/icons/psi_fire.png",
        "children" : [],
        "position" : [15, -30]
      },

      "psiElecBasic" : {
        "icon" : "/interface/scripted/research/icons/psi_fire.png",
        "children" : [],
        "position" : [-15, -30]
      },

      "psiPoisBasic" : {
        "icon" : "/interface/scripted/research/icons/psi_fire.png",
        "children" : [],
        "position" : [-40, -30]
      }
    }
  },

  "acronyms" : {
    "general" : {
      "BAS" : "basic",
      "FIREBAS" : "psiFireBasic",
      "ICEBAS" : "psiIceBasic",
      "ELECBAS" : "psiElecBasic",
      "POISBAS" : "psiPoisBasic"
    }
  },

  "strings" : {
    "currencies" : {},

    "trees" : {
      "vantapsionics" : "Vanta Psionics"
    },

    "research" : {
      "default"	: [ "Select a Research",			"Select a research by clicking an icon on the main window.\n\nYou can navigate the tree by dragging with the left mouse button.\n\nThe leftmost button at the top left corner will move the view to the center of the tree, and the next button will open a list of research nodes from which you can zoom to other research nodes." ],

      "basic" : [ "Psionic Core",      "You're able to create basic blasts of psionic energy to stun your enemies. However, this is only a basic ability. Your Nightar brethren feared the usage of your powers, and the Conclave did all it could to suppress the realization of these powers. Now is the time to tap into a past long forgotten and reclaim your true potential." ],

      "psiFireBasic" : [ "Psi Flame",      "Singe your enemies with a simple blast of fire energy" ],

      "psiIceBasic" : [ "Psi Frost",      "Slow your enemies down with a simple blast of ice energy" ],

      "psiElecBasic" : [ "Psi Thunder",      "Jolt your enemies with a simple blast of electric energy" ],

      "psiPoisBasic" : [ "Psi Toxin",      "Corrupt the humours of your enemies with a simple blast of poison energy" ]
    }
  },

  "initiallyResearched" : {
    "vantapsionics" : [ "BAS" ]
  },

  "hiddenResearch" : {},

  "currencies" : [],

  "externalScripts" : [],

  "customGridTileImages" : {
    "vantapsionics" : "/interface/scripted/research/gridTileEx.png"
  },

  "versions" : {
    "vantapsionics" : "1.0"
  }
}
