{
  "gui" : {
    "background" : {
      "zLevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/ex_confirmation/header.png",
      "fileBody" : "/interface/scripted/ex_confirmation/body.png",
      "fileFooter" : "/interface/scripted/ex_confirmation/footer.png"
    },

    "windowTitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/ex_confirmation/ex_door.png",
        "zLevel" : -1
      }
    },

    "enterDoor" : {
      "type" : "button",
      "base" : "/interface/popup/acceptup.png",
      "hover" : "/interface/popup/acceptover.png",
      "position" : [135, 38],
      "caption" : "Yes"
    },

    "walkAway" : {
      "type" : "button",
      "base" : "/interface/popup/declineup.png",
      "hover" : "/interface/popup/declineover.png",
      "position" : [55, 38],
      "caption" : "No"
    },

    "message" : {
      "type" : "label",
      "position" : [60, 122],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 175,
      "lineSpacing" : 1.0,
      "value" : "",
      "color" : "white"
    }
  },

  "scriptWidgetCallbacks" : [
    "enterDoor",
    "walkAway"
  ],

  "scripts" : [ "/scripts/ex_utilities/ex_warp.lua" ],
  "scriptDelta" : 20
}
