{
  "sort" : [
    // head techs
    "distortionsphere",
    "spikesphere",
    "aquasphere",
    "aquasphere2",
    "sonicsphere",

    // body techs
    "dash",
    "airdash",
    "blinkdash",
    "sprint",

    // legs techs
    "doublejump",
    "multijump",
    "rocketjump",
    "walljump"
  ]
}
