{
  "dockingBayCommons" : [
    ["> INFORMATION SEARCH FOR MAIN RESEARCH SECTOR AUTHORIZED, DOWNLOADING DATA...", "/ai/vantasolusunit.png"],
    ["> MATTER MANIPULATOR VAULT IS UNDER ^blue;LEVEL 1^reset; LOCKDOWN.", "/ai/vantasolusunit.png"],
    ["> SECURITY STATION LOCATION DATA IS NOT AVAILABLE DUE TO SENSITIVITY.", "/ai/vantasolusunit.png"],
    ["> ^red;--PRIORITY ALERT--^reset;\nBIOLAB SPECIMENS CURRENTLY IN FREE ROAM. RESEARCH TEAMS AND GUARDS NON-RESPONSIVE.", "/ai/vantasolusunit.png"],
    ["> ^red;--PRIORITY ALERT--^reset;\nUNIDENTIFIED HUMANOID LIFESIGNS DETECTED ABOARD. PROCEED WITH CAUTION.", "/ai/vantasolusunit.png"]
  ],

  "vaultArea" : [
    ["> LEVEL 1 LOCKDOWN RELEASED. REQUEST TO RETRIEVE MATTER MANIPULATOR FROM VAULT AUTHORIZED.", "/ai/vantasolusunit.png"],
    ["> BIOLAB 3 UNDER ^green;LEVEL 2^reset; LOCKDOWN. SECURITY STATION LOCATION DATA IS NOT AVAILABLE DUE TO SENSITIVITY.", "/ai/vantasolusunit.png"],
    ["> LEVEL 1 LOCKDOWN RELEASED. REQUEST TO RETRIEVE MATTER MANIPULATOR FROM VAULT AUTHORIZED.", "/ai/vantasolusunit.png"]
  ],

  "lowerResearchLevels" : [
    ["> CENTRAL COMPUTER LOCATION OBTAINED, DOWNLOADING DATA...", "/ai/vantasolusunit.png"],
    ["> LOCATION MARKED, PROCEED WITH CAUTION.", "/ai/vantasolusunit.png"]
  ]
}
