{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/interface/scripted/ex_taskmanager/header.png",
			"fileBody" : "/interface/scripted/ex_taskmanager/body.png",
			"fileFooter" : "/interface/scripted/ex_taskmanager/footer.png"
		},

		"windowtitle" : {
			"type" : "title",
			"title" : "TASK MANAGER",
			"subtitle" : "Portable Unified Interface",
			"icon" : {
				"type" : "image",
        "file" : "",
        "zlevel" : -1
			}
		},

		"hfCodex" : {
			"type" : "button",
			"base" : "/interface/scripted/ex_taskmanager/button.png:default",
			"hover" : "/interface/scripted/ex_taskmanager/button.png:hover",
			"pressed" : "/interface/scripted/ex_taskmanager/button.png:pressed",
			"disabledImage" : "/interface/scripted/ex_taskmanager/button.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [48, 107],
      "caption" : "V. Codex"
		},

		"quests" : {
			"type" : "button",
			"base" : "/interface/scripted/ex_taskmanager/button.png:default",
			"hover" : "/interface/scripted/ex_taskmanager/button.png:hover",
			"pressed" : "/interface/scripted/ex_taskmanager/button.png:pressed",
			"disabledImage" : "/interface/scripted/ex_taskmanager/button.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [48, 91],
      "caption" : "V. Journal"
		},

		"research" : {
			"type" : "button",
			"base" : "/interface/scripted/ex_taskmanager/button.png:default",
			"hover" : "/interface/scripted/ex_taskmanager/button.png:hover",
			"pressed" : "/interface/scripted/ex_taskmanager/button.png:pressed",
			"disabledImage" : "/interface/scripted/ex_taskmanager/button.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [48, 75],
      "caption" : "V. Skill Grid"
		},

		"tech" : {
			"type" : "button",
			"base" : "/interface/scripted/ex_taskmanager/button.png:default",
			"hover" : "/interface/scripted/ex_taskmanager/button.png:hover",
			"pressed" : "/interface/scripted/ex_taskmanager/button.png:pressed",
			"disabledImage" : "/interface/scripted/ex_taskmanager/button.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [48, 59],
      "caption" : "Techs"
		},

		"mech" : {
			"type" : "button",
			"base" : "/interface/scripted/ex_taskmanager/button.png:default",
			"hover" : "/interface/scripted/ex_taskmanager/button.png:hover",
			"pressed" : "/interface/scripted/ex_taskmanager/button.png:pressed",
			"disabledImage" : "/interface/scripted/ex_taskmanager/button.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [48, 43],
      "caption" : "Mech Assembly"
		},

		"radio" : {
			"type" : "button",
			"base" : "/interface/scripted/ex_taskmanager/button.png:default",
			"hover" : "/interface/scripted/ex_taskmanager/button.png:hover",
			"pressed" : "/interface/scripted/ex_taskmanager/button.png:pressed",
			"disabledImage" : "/interface/scripted/ex_taskmanager/button.png:disabled",
			"pressedOffset" : [0, 0],
			"position" : [48, 27],
      "caption" : "Music Player"
		},

		"close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [164, 144]
    },

		"lblDisabledText" : {
			"type" : "label",
			"position" : [22, 75],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"value" : "I AM ERROR",
			"fontSize" : 14
		}
	},

	"scriptWidgetCallbacks" : [
		"quests",
		"research",
		"hfCodex",
		"tech",
		"mech",
		"radio"
	],

	"scripts" : [ "/interface/scripted/ex_taskmanager/taskman.lua" ],
	"scriptDelta" : 20
}
