{
  "gui" : {
    "panefeature" : {
      "type" : "pantefeature",
      "positionLocked" : false
    },

    "background" : {
      "zLevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/vantamanipulatorstation/header.png",
      "fileBody" : "/interface/scripted/vantamanipulatorstation/body.png",
      "fileFooter" : "/interface/scripted/vantamanipulatorstation/footer.png"
    },

    "close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [353, 216]
		},

    "upgradeTitle" : {
			"type" : "label",
			"position" : [211, 201],
			"fontSize" : 7,
			"value" : "^red;I AM ERROR"
		},

    "textScrollArea" : {
			"type" : "scrollArea",
			"rect" : [205, 36, 371, 196],
			"children" : {
				"questText" : {
					"type" : "label",
					"position" : [0, 0],
					"wrapWidth" : 154,
					"fontSize" : 7,
					"vAnchor" : "bottom",
					"value" : "^red;I AM ERROR"
				}
      }
    },

    "btnPower1" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [250, 175],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },

    "btnPower2" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [274, 175],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },

    "btnPower3" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [298, 175],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },

    "btnPower4" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [322, 175],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    }
  },

  "scriptWidgetCallbacks" : [
    "doEnable",
    "slotSelected"
  ]
}
