{
	"keycardText" : {
		"vantakeycard0" : "^#9da1a4;Vanta Keycard L0^reset;",
		"vantakeycard1" : "^#5777d5;Vanta Keycard L1^reset;",
		"vantakeycard2" : "^#50a050;Vanta Keycard L2^reset;",
		"vantakeycard3" : "^#bdbd2f;Vanta Keycard L3^reset;",
		"vantakeycard4" : "^#ff4949;Vanta Keycard L4^reset;",

		"nightarkeycard0" : "^#9da1a4;Nightar Keycard L0^reset;",
		"nightarkeycard1" : "^#5777d5;Nightar Keycard L1^reset;",
		"nightarkeycard2" : "^#50a050;Nightar Keycard L2^reset;",
		"nightarkeycard3" : "^#bdbd2f;Nightar Keycard L3^reset;",
		"nightarkeycard4" : "^#ff4949;Nightar Keycard L4^reset;"
	}
}
