{
  "attack" : {
    "default" : {
      "default" : [
				"Intruder sighted!",
				"Engaging the intruder!",
				"We will bring eternal night to the cosmos!"
      ],
			"vanta" : [
				"The daywalker has arrived!",
				"Engaging the daywalker!",
				"Your light betrays you!"
			]
		}
  },
	"reattack" : {
		"default" : {
			"default" : [
				"Target has returned - take them down!",
				"Re-engaging the intruder!",
				"We will bring eternal night to the cosmos!"
			],
			"vanta" : [
				"The daywalker has returned!",
				"Re-engaging the daywalker!",
				"Your light betrays you!"
			]
		}
	},
	"killedTarget" : {
		"default" : {
			"default" : [
				"Target has been eliminated, resuming post.",
				"I have served the empire - and I will continue to serve.",
				"Long live the eternal night!",
				"The shadows are our strength."
			],
			"vanta" : [
				"The daywalker has been terminated, resuming post.",
				"It is a glorious day for the Empire!",
				"Long live the eternal night!",
				"The shadows are our strength."
			]
		}
	},
	"lostTarget" : {
		"default" : {
			"default" : [
				"Target has fled - resume your duties.",
				"The eternal night will take them.",
				"Shadows are everywhere, and where they are, so are we."
			],
			"vanta" : [
				"The daywalker has fled - resume your duties.",
				"The eternal night will take them.",
				"Shadows are everywhere, and where they are, so are we."
			]
		}
	},
	"outOfSight" : {
		"default" : {
			"default" : [
				"Find them, quickly!",
				"They can't have gone far, keep looking!"
			]
		}
	},
	"cheerOn" : {
		"default" : {
			"default" : [
				"None can rival the strength of the Nightar Empire!",
				"Take them down!"
			]
		}
	}
}
