{
  "attack" : {
    "default" : {
      "default" : [
        "!"
      ]
    }
	},

	"reattack" : {
    "default" : {
      "default" : [
        "!"
      ]
    }
	},

	"killedTarget" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
	},

	"lostTarget`" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
	},

	"outOfSight`" : {
    "default" : {
      "default" : [
        "..."
      ]
    }
	},

	"cheerOn`" : {
    "default" : {
      "default" : [
        "!"
      ]
    }
	}
}
