{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/vantaupgrade/header.png",
      "fileBody" : "/interface/scripted/vantaupgrade/body.png",
      "fileFooter" : "/interface/scripted/vantaupgrade/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " Vanta Blade Altar",
      "subtitle" : " Power up your equipment",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/vantaupgrade/weaponupgradeicon.png"
      }
    },

    "itemScrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 38, 174, 153],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/vantaupgrade/listitemselected.png",
            "unselectedBG" : "/interface/scripted/vantaupgrade/listitem.png",
            "spacing" : [0, 1],
            "memberSize" : [156, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/vantaupgrade/listitem.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "unavailableoverlay" : {
                "type" : "image",
                "file" : "/interface/scripted/vantaupgrade/unavailableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },

    "upgradeDescription" : {
      "type" : "label",
      "position" : [89, 55],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "color" : "cyan",
      "value" : "UPGRADE TO"
    },
    "nextItem" : {
      "type" : "label",
      "position" : [89, 45],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "--"
    },

    "btnUpgrade" : {
      "type" : "button",
      "position" : [92, 25],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Upgrade",
      "callback" : "upgrade"
    },
    "cancel" : {
      "type" : "button",
      "position" : [32, 25],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Cancel",
      "callback" : "close"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [161, 180]
    },

    "emptyLabel" : {
      "type" : "label",
      "position" : [86, 100],
      "hAnchor" : "mid",
      "value" : "You don't have any gear that can be upgraded.",
      "wrapWidth" : 125,
      "color" : [185, 181, 178]
    }
  },

  "scriptWidgetCallbacks" : [
    "itemSelected",
    "upgrade"
  ],

  "scripts" : ["/interface/scripted/vantaupgrade/vantaupgradegui.lua"],
  "scriptDelta" : 30
}
