{
  "researchTree" : {
    "core" : {
      "basic" : {
        "icon" : "/items/generic/crafting/teleportercore.png",
        "children" : [ "crafting1" ],
        "position" : [0, 0]
      },

      "crafting1" : {
        "icon" : "/items/generic/crafting/teleportercore.png",
        "children" : [ "crafting2" ],
        "position" : [30, 30]
      },

      "crafting2" : {
        "icon" : "/items/generic/crafting/teleportercore.png",
        "children" : [ "crafting3" ],
        "position" : [60, 30]
      }
    }
  },

  "acronyms" : {
    "core" : {
      "BAS" : "basic",
      "CRAFT1" : "crafting1",
      "CRAFT2" : "crafting2",
      "CRAFT3" : "crafting3"
    }
  },

  "strings" : {
    "currencies" : {
      "money" : "Pixels",
      "essence" : "Essence"
    },

    "trees" : {
      "core" : "Core Research"
    },

    "research" : {
      "default"	: [ "Select a Research Tree","Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
      "basic" : [ "Basic Field Knowledge","^cyan;Tier 0^reset;\n\nYou have basic knowledge of craftsmanship. It's enough to get you by for now, but you still have a ways to go.\n\n(This is currently the only available branch; I am working on getting this more integrated, stay tuned!\n-AbsoluteXero)" ],
      "crafting1" : [ "Crafting Basics","^cyan;Tier I^reset;\n\nYou're able to work with slightly advanced ores and metals. Additionally, your armorcrafting has been enhanced." ],
      "crafting2" : [ "Advanced Crafting","^cyan;Tier II^reset;\n\nYou're now able to work with more advanced metals, as well as crafting advanced armor and weaponry." ],
      "crafting3" : [ "Enhanced Crafting","^cyan;Tier III^reset;\n\nYou're on the way to mastering craftsmanship." ]
    }
  },

  "initiallyResearched" : {
    "nightars" : [ "BAS" ]
  },

  "hiddenResearch" : {
    "nightars" : [ "CRAFT1", "CRAFT2", "CRAFT3" ]
  },

  "currencies" : [
    [ "nightarresource", "#0099FF;", "nightarresource", "/zb/researchTree/nightarresource.png:resource" ]
  ],

  "externalScripts" : {}
}
