{
  "researchTree" : {
    "core" : {
      "basic" : {
        "icon" : "/items/generic/crafting/teleportercore.png",
        "children" : ["nightar"],
        "position" : [0, 0]
      },

      "nightar1" : {
        "icon" : "/zb/researchTree/nightarspec.png",
        "children" : [],
        "position" : [-30, 30],
        "price" : [["darkfragmentore", 10]]
      }
    }
  },

  "acronyms" : {
    "core" : {
      "BAS" : "basic",
      "NGT1" : "nightar1",
      "NGT2" : "nightar2"
    }
  },

  "strings" : {
    "currencies" : {
      "money" : "Pixels",
      "essence" : "Essence",
      "exoticresearch" : "Engrams"
    },

    "trees" : {
      "core" : "Core Research Skills"
    },

    "research" : {
      "default" : [ "Select a Research","NOT ACTIVATED YET. DO NOT USE, AS THIS CURRENTLY DOES NOTHING AT ALL. THIS IS PLACEHOLDER CONTENT. Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
			"basic"		: [ "Basic Knowledge",	"^orange;Tier 0^reset;\n\nYou have basic knowledge of science, but to really begin advancing, you'll need to branch out a bit more." ],
      "nightar1" : [ "Nightar Spec. I", "You've discovered some ^cyan;Dark Fragments^reset;. You can now craft weapons based on Nightar designs." ]
    }
  },

  "hiddenResearch" : {},

  "initiallyResearched" : {
    "core" : [ "BAS" ]
  }
}
