{
  "researchTree" : {
    "nightars" : {
      "basic" : {
        "icon" : "/items/generic/crafting/teleportercore.png",
        "children" : [],
        "position" : [0, 0]
      }
    }
  },

  "acronyms" : {
    "nightars" : {
      "BAS" : "basic"
    }
  },

  "strings" : {
    "currencies" : {
      "money" : "Pixels",
      "essence" : "Essence"
    },

    "trees" : {
      "nightars" : "Nightar Research"
    },

    "research" : {
      "default"	: [ "Select a Research","Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
      "basic" : [ "Basic Knowledge","^cyan;Tier 0^reset;\n\nYou have basic knowledge of Nightar sciences, but you still have a ways to go.\n\n(This is currently the only available branch; I am working on getting this more integrated, stay tuned!\n-AbsoluteXero)" ]
    }
  },

  "initiallyResearched" : {
    "nightars" : [ "BAS" ]
  },

  "hiddenResearch" : {},

  "currencies" : [],

  "externalScripts" : {}
}
