{
  "researchTree" : {
    "general" : {
      "basic" : {
        "icon" : "/items/generic/crafting/teleportercore.png",
        "children" : ["nightar", "augments1", "exotic", "highores1"],
        "position" : [0, 0]
      },

      "nightar" : {
        "icon" : "/zb/researchTree/icons/nightarspec.png",
        "unlocks" : [ "nightaranvil" ],
        "hideUnlocks" : true,
        "children" : [],
        "position" : [-60, 0],
        "price" : [ ["researchengram", 500], ["darkfragmentore", 50] ]
      },

      "augments1" : {
        "icon" : "/zb/researchTree/icons/augments.png",
        "unlocks" :  [ "nanobench" ],
        "hideUnlocks" : true,
        "children" : [ "augments2" ],
        "position" : [-45, -45],
        "price" : [ ["researchengram", 100] ]
      },

      "augments2" : {
        "icon" : "/zb/researchTree/icons/augments.png",
        "unlocks" : [ "damageaugment2", "energyaugment2", "healthaugment2", "healingaugment2", "lightaugment2" ],
        "hideUnlocks" : true,
        "children" : [ "augments3" ],
        "position" : [-45, -75],
        "price" : [ ["researchengram", 250] ]
      },

      "augments3" : {
        "icon" : "/zb/researchTree/icons/augments.png",
        "unlocks" : [ "damageaugment3", "energyaugment3", "healthaugment3", "healingaugment3", "lightaugment3" ],
        "hideUnlocks" : true,
        "children" : [ "augments4" ],
        "position" : [-45, -105],
        "price" : [ ["researchengram", 500] ]
      },

      "augments4" : {
        "icon" : "/zb/researchTree/icons/augments.png",
        "unlocks" : [ "fireblockaugment", "iceblockaugment", "electricblockaugment", "poisonblockaugment" ],
        "hideUnlocks" : true,
        "children" : [ "augments5" ],
        "position" : [-45, -135],
        "price" : [ ["researchengram", 750] ]
      },

      "augments5" : {
        "icon" : "/zb/researchTree/icons/augments.png",
        "unlocks" : [ "variaaugment" ],
        "hideUnlocks" : true,
        "children" : [],
        "position" : [-45, -165],
        "price" : [ ["researchengram", 1000] ]
      },

      //Exotic Armory
      "exotic" : {
        "icon" : "/zb/researchTree/icons/exoticarmory.png",
        "unlocks" : ["enhancer", "exoticcomponent1", "exoticcomponent2", "exoticcomponent3", "augmentadaptor", "cultivatorsethead", "cultivatorsetchest", "cultivatorsetpants"],
        "hideUnlocks" : true,
        "children" : [ ],
        "position" : [0, -60],
        "price" : [ ["researchengram", 1000], ["azuritebar", 20], ["crimsoniumrod", 20] ]
      },

      "highores1" : {
        "icon" : "/items/generic/crafting/ironore.png",
        "unlocks" : [ "azuritebar", "crimsoniumrod" ],
        "children" : [],
        "position" : [60, 0],
        "price" : [ ["researchengram", 2000], ["azuriteore", 100], ["crimsoniumore", 100] ]
      }
    }
  },

  "acronyms" : {
    "general" : {
      "BAS" : "basic",
      "NGT" : "nightar",
      "AUG1" : "augments1",
      "AUG2" : "augments2",
      "AUG3" : "augments3",
      "AUG4" : "augments4",
      "AUG5" : "augments5",
      "EXO" : "exotic",
      "ORE1" : "highores1"
    }
  },

  "strings" : {
    "currencies" : {
      "money" : "Pixels",
      "essence" : "Essence",
      "researchengram" : "Engrams"
    },

    "trees" : {
      "general" : "General Research"
    },

    "research" : {
      "default" : [ "Select a Research","NOT ACTIVATED YET. DO NOT USE, AS THIS CURRENTLY DOES NOTHING AT ALL. THIS IS PLACEHOLDER CONTENT. Select a research by clicking one of the icons on the grid.\nYou can navigate the grid by dragging with the left mouse button.\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],
			"basic"		: [ "Basic Knowledge", "You have basic knowledge of science, but to really begin advancing, you'll need to branch out a bit more." ],
      "nightar" : [ "Nightar Spec.", "You've discovered some ^cyan;Dark Fragments^reset;. Unlocking this node will allow you to begin crafting armors and weapons of Nightar design." ],
      "augments1" : [ "Augments I", "You've made some headway in the aspects of technology; you're now able to craft your own augments." ],
      "augments2" : [ "Augments II", "Your further research into nanotechnology has increased your overall knowledge of augment components. You can now craft higher-level augments." ],
      "augments3" : [ "Augments III", "You've been keeping busy with augment technology, and your efforts are starting to pay off. Unlocking this node allows you to craft more powerful augments." ],
      "augments4" : [ "Augments IV", "You've become an expert in crafting augments, and are ready to take on the next challenge. Unlocking this node will grant you access to some of the more efficient status-blocking augments." ],
      "augments5" : [ "Augments (Mastered)", "At last, you've mastered the art of nanofabrication. Unlocking this node allows you to craft special, ^cyan;mastery augments^reset;." ],
      "exotic" : [ "Exotic Armory", "You've dabled in the arts of armorcrafting enough that you've managed to work your way up the tier ladder. Now it is time to ascend beyond what was thought to be the limits of armorcrafting. Unlocking this node will allow you to craft ^yellow;exotic armors^reset;." ],
      "highores1" : [ "Advanced Ores", "You've come across two new ore types. After some thorough researaching, you've discovered a way to refine them and put them to use. Unlocking this node will allow you to craft ^cyan;Azurite Bars^reset; and ^red;Crimsonium Rods^reset;." ]
    }
  },

  "hiddenResearch" : { },

  "initiallyResearched" : {
    "general" : [ "BAS" ]
  },

  "currencies" : [
    [ "researchengram", "#00A9FF", "researchengram", "/zb/researchTree/currencyMiniIconsNightar.png:research" ]
  ]
}
