{
	"researchTree" : {
    "vantaresearch" : {
      "basic" : {
        "icon" : "/objects/crafting/ironanvil/ironanvilicon.png",
        "children" : ["vantaspec1", "augments1", "fuelcells"],
        "position" : [0, 0],
				"price" : []
      },

      "fuelcells" : {
        "icon" : "/items/generic/other/solidfuel.png",
        "unlocks" : [ "erchiusfuelcell", "ceruleumfuelcell" ],
        "position" : [30, 0],
        "price" : [ ["liquidfuel", 500], ["liquidceruleum", 500], ["money", 1000] ]
      },

      "vantaspec1" : {
        "icon" : "/zb/researchTree/icons/vantaspec.png",
        "unlocks" : [ "vantacatalyst", "nightsteel1bar", "nightsteel2bar" ],
        "children" : [ "vantaspec2" ],
        "position" : [-30, 0],
        "price" : [ ["darkfragmentore", 50], ["money", 1000] ]
      },

      "vantaspec2" : {
        "icon" : "/zb/researchTree/icons/vantaspec.png",
        "unlocks" : [ "nightsteel3bar", "nightsteel4bar" ],
        "children" : [ "vantaspec3" ],
        "position" : [-30, -30],
        "price" : [ ["vantacatalyst", 20], ["nightsteel1bar", 20], ["nightsteel2bar", 20], ["money", 2000] ]
      },

      "vantaspec3" : {
        "icon" : "/zb/researchTree/icons/vantaspec.png",
        "unlocks" : [ "nightsteel5bar", "nightsteel6bar" ],
        "children" : [ "vantaspec4" ],
        "position" : [-30, -60],
        "price" : [ ["nightsteel3bar", 50], ["nightsteel4bar", 50], ["money", 3000] ]
      },

      "vantaspec4" : {
        "icon" : "/zb/researchTree/icons/vantaspec.png",
        "unlocks" : [ "nightsteel7bar" ],
        //"children" : [ "exotic" ],
        "position" : [-30, -90],
        "price" : [ ["nightsteel5bar", 100], ["nightsteel6bar", 100], ["money", 5000] ]
      },

      "augments1" : {
        "icon" : "/zb/researchTree/icons/augments.png",
        "unlocks" : [ "nanobench", "fireblockaugment", "iceblockaugment" ],
        "children" : [ "aug2" ],
        "position" : [0, -30],
        "price" : [ ["scorchedcore", 20], ["cryonicextract", 20], ["money", 1000] ]
      },

      "augments2" : {
        "icon" : "/zb/researchTree/icons/augments.png",
        "unlocks" : [ "damageaugment2", "energyaugment2", "healthaugment2", "healingaugment2", "lightaugment2", "electricblockaugment" ],
        "children" : [ "aug3" ],
        "position" : [0, -60],
        "price" : [ ["staticcell", 50], ["liquidhealing", 50], ["money", 2000] ]
      },

      "augments3" : {
        "icon" : "/zb/researchTree/icons/augments.png",
        "unlocks" : [ "damageaugment3", "energyaugment3", "healthaugment3", "healingaugment3", "lightaugment3", "poisonblockaugment" ],
        "children" : [ "exotic" ],
        "position" : [0, -90],
        "price" : [ ["venomsample", 50], ["livingroot", 50], ["money", 5000] ]
      },

      "exotic" : {
        "icon" : "/zb/researchTree/icons/exoticarmory.png",
        "unlocks" : ["enhancer", "exoticcomponent1", "exoticcomponent2", "exoticcomponent3", "augmentadaptor"],
        "position" : [0, -120],
        "price" : [ ["nightsteel7bar", 20], ["refinedaegisalt", 20], ["refinedferozium", 20], ["refinedviolium", 20], ["money", 10000] ]
      }
    }
  },

	"acronyms" : {
    "vantaresearch" : {
      "BAS" : "basic",
      "FUEL" : "fuelcells",
      "VSP1" : "vantaspec1",
      "VSP2" : "vantaspec2",
      "VSP3" : "vantaspec3",
      "VSP4" : "vantaspec4",
      "AUG1" : "augments1",
      "AUG2" : "augments2",
      "AUG3" : "augments3",
      "EXO" : "exotic"
    }
  },

	"strings" : {
    "currencies" : {
      "money" : "Pixels",
      "essence" : "Essence"
    },

    "trees" : {
      "vantaresearch" : "Vanta Research"
    },

    "research" : {
			"basic"	: [ "Basic Knowledge", "You have basic knowledge of crafting and science, but you'll need to branch out a bit more to really hone your skills." ],
      "fuelcells" : [ "Fuel Cells", "Bringing your knowledge of FTL drives up to par, you've begun retrofitting your fuel hatch to allow for placement of fuel cells, while still allowing for liquid fuel to be dispensed into it. Fuel cells are compartmentalized, allowing for greater fuel stores in case of an emergency." ],
      "vantaspec1" : [ "Vanta Spec I", "The first step in working with Nightar-based craftsmanship. You'll need to collect some Dark Fragments to unlock this node.\n\n(Dark Fragments can be found on all standard planet types, but are more common in the higher-tier star systems.)" ],
      "vantaspec2" : [ "Vanta Spec II", "Your knowledge on Nightar-based crafts has grown. Practice creating these higher-tier Nightsteel bars and build up what you can to unlock the next node." ],
      "vantaspec3" : [ "Vanta Spec III", "Your continued craftsmanship has led to the ability to work with more exotic grades of Nightsteel, granting you access to higher-tier armor and weaponry." ],
      "vantaspec4" : [ "Vanta Spec IV", "Your continued research has paid off, and you are now able to work with the most exotic form of Nightsteel available. Combined with your exploration into Augments, you'll be able to unlock the Exotic Armory, allowing you to take your most prominent armors and augment them in the same manner as EPPs." ],
      "augments1" : [ "Augments I", "You've made some headway in the aspect of nanotechnology, granting you access to create your own augments." ],
      "augments2" : [ "Augments II", "Your continued dedication into this research has increased your overall knowledge of augmentation, allowing you to create higher-grade augments." ],
      "augments3" : [ "Augments III", "You've mastered the art of nanofabrication. Unlocking this node will grant you the ability to create Grade-III augments. Combined with your exploration into Nightsteel research, you'll be able to unlock the Exotic Armory, allowing you to take your most prominent armors and augment them in the same manner as EPPs." ],
      "exotic" : [ "Exotic Armory", "Your reasearch into Nightsteel and Augmentation has sparked the idea of creating armors that can be augmented. With this research completed, you'll be able to ^cyan;augment your Tier-6 armors^reset;." ]
    }
  },

	"initiallyResearched" : {
    "vantaresearch" : [ "BAS" ]
  },

	"hiddenResearch" : {},

	"currencies" : [],

	"externalScripts" : [],

	"cutsomGridTileImages" : {},

	"versions" : {}
}
