{
	"researchTree" : {
    "vantaskills" : {

			// Example research function formats for easeier reference:
			// "func" : "statPlus",
			// "params" : [ "hpPlus", 5 ]

			// In the example below, the second value is elemental damage resistance, and the third value (optional) is elemental status (burning, freezing, etc.) resistance amount.
			// "func" : "elrPlus",
			// "params" : [ "fire", 0.05, 0.01 ]

			"start" : {
				"icon" : "/interface/scripted/ex_research/icons/basic.png",
				"position" : [0, 0],
				"price" : [],
				"func" : "reinit", //Reinitialize vantaSkills.lua script to default values
				"children" : [ "t0_hp1" ],
				"parents" : [],
				"clusterGroup" : "group_1"
			},
			"t0_hp1" : {
				"icon" : "/interface/scripted/ex_research/icons/health.png",
				"position" : [-40, 0],
				"price" : [],
				"children" : [ "t0_dps1" ],
				"parents" : ["start"],
				"clusterGroup" : "group_1",
				"clusterCenter" : "start"
			},
			"t0_dps1" : {
				"icon" : "/interface/scripted/ex_research/icons/fist.png",
				"position" : [0, -40],
				"price" : [],
				"children" : [ "t0_en1", "t1_lock1" ],
				"parents" : [ "t0_hp1" ],
				"clusterGroup" : "group_1",
				"clusterCenter" : "start"
			},
			"t0_en1" : {
				"icon" : "/interface/scripted/ex_research/icons/energy.png",
				"position" : [40, 0],
				"price" : [],
				"children" : [ "t0_null1" ],
				"parents" : [ "t0_dps1" ],
				"clusterGroup" : "group_1",
				"clusterCenter" : "start"
			},
			"t0_null1" : {
				"icon" : "/interface/scripted/ex_research/icons/basic.png",
				"position" : [30, 30],
				"price" : [],
				"children" : [ "t0_null2", "t0_def1" ],
				"parents" : [ "t0_en1" ],
				"clusterGroup" : "group_1",
				"clusterCenter" : "start"
			},
			"t0_null2" : {
				"icon" : "/interface/scripted/ex_research/icons/basic.png",
				"position" : [60, 60],
				"price" : [],
				//"children" : [ "t0_def1" ],
				"parents" : [ "t0_null1" ],
				"clusterGroup" : "group_1",
				"clusterCenter" : "start"
			},
			"t0_def1" : {
				"icon" : "/interface/scripted/ex_research/icons/shield.png",
				"position" : [0, 40],
				"price" : [],
				"parents" : [ "t0_null1" ],
				"clusterGroup" : "group_1",
				"clusterCenter" : "start"
			},
			"t1_lock1" : {
				"questLock" : true,
				"quests" : [ "human_mission1_vanta" ],
				"position" : [0, -120],
				"price" : [],
				"children" : [ "null_01", "t1_bangle" ],
				"parents" : [ "t0_dps1" ]
			},

			"t1_bangle" : {
				"icon" : "/interface/scripted/ex_research/icons/bangle.png",
				"position" : [-80, -120],
				"price" : [],
				"unlocks" : [ "vantabangle" ],
				"children" : [ "t1_banglefire", "t1_bangleice", "t1_bangleelectric", "t1_banglepoison" ],
				"parents" : [ "t1_lock1" ]
			},
			"t1_banglefire" : {
				"icon" : "/interface/scripted/ex_research/icons/fire.png",
				"position" : [-100, -100],
				"price" : [],
				"parents" : [ "t1_bangle" ],
				"func" : "addBanglePrimaryAbility",
				"params" : "firebolt"
			},
			"t1_bangleice" : {
				"icon" : "/interface/scripted/ex_research/icons/ice.png",
				"position" : [-60, -100],
				"price" : [],
				"parents" : [ "t1_bangle" ],
				"func" : "addBanglePrimaryAbility",
				"params" : "icebolt"
			},
			"t1_bangleelectric" : {
				"icon" : "/interface/scripted/ex_research/icons/electric.png",
				"position" : [-100, -140],
				"price" : [],
				"parents" : [ "t1_bangle" ],
				"func" : "addBanglePrimaryAbility",
				"params" : "thunderbolt"
			},
			"t1_banglepoison" : {
				"icon" : "/interface/scripted/ex_research/icons/poison.png",
				"position" : [-60, -140],
				"price" : [],
				"parents" : [ "t1_bangle" ],
				"func" : "addBanglePrimaryAbility",
				"params" : "biobolt"
			},

			"null_01" : {
				"icon" : "/interface/scripted/ex_research/icons/basic.png",
				"position" : [40, -120],
				"price" : [],
				"children" : [ "null_02" ],
				"parents" : [ "t1_lock1" ],
				"clusterGroup" : "group_2",
				"clusterCenter" : "null_03"
			},
			"null_02" : {
				"icon" : "/interface/scripted/ex_research/icons/basic.png",
				"position" : [80, -120],
				"price" : [],
				"children" : [ "null_03" ],
				"parents" : [ "null_01" ],
				"clusterGroup" : "group_2",
				"clusterCenter" : "null_03"
			},
			"null_03" : {
				"icon" : "/interface/scripted/ex_research/icons/basic.png",
				"position" : [60, -140],
				"price" : [],
				"children" : [ "null_04" ],
				"parents" : [ "null_02" ],
				"clusterGroup" : "group_2",
				"clusterCenter" : "null_03"
			},
			"null_04" : {
				"icon" : "/interface/scripted/ex_research/icons/basic.png",
				"position" : [40, -160],
				"price" : [],
				"children" : [ "null_05" ],
				"parents" : [ "null_03" ],
				"clusterGroup" : "group_2",
				"clusterCenter" : "null_03"
			},
			"null_05" : {
				"icon" : "/interface/scripted/ex_research/icons/basic.png",
				"position" : [80, -160],
				"price" : [],
				"children" : [],
				"parents" : [ "null_04" ],
				"clusterGroup" : "group_2",
				"clusterCenter" : "null_03"
			}
    }
  },

	"acronyms" : {
    "vantaskills" : {
			"START" : "start",
			"HP01" : "t0_hp1",
			"DPS01" : "t0_dps1",
			"ENG01" : "t0_en1",
			"T0NULL1" : "t0_null1",
			"T0NULL2" : "t0_null2",
			"DEF01" : "t0_def1",
			"T1QL1" : "t1_lock1",

			"BGL1" : "t1_bangle",
			"BFIRE1" : "t1_banglefire",
			"BICE1" : "t1_bangleice",
			"BELEC1" : "t1_bangleelectric",
			"BBIO1" : "t1_banglepoison",

			"NULL01" : "null_01",
			"NULL02" : "null_02",
			"NULL03" : "null_03",
			"NULL04" : "null_04",
			"NULL05" : "null_05"

			/*"NULL11" : "null_11",
			"NULL12" : "null_12",
			"NULL13" : "null_13",
			"NULL14" : "null_14",
			"NULL15" : "null_15",
			"NULL16" : "null_16",
			"NULL17" : "null_17",
			"NULL18" : "null_18"*/

    }
  },

	"strings" : {
    "currencies" : [],

    "trees" : {
      "vantaskills" : "Vanta Skill Grid"
    },

    "research" : {
			// Starting Point
			"start" : [ "Basic Training", "Your training, thanks to your years of service with the Coalition, provides you with basic combat and survival skills to keep you alive for prolonged periods of time in the event you have to work solo. Or if you get stranded in a random place in the universe." ],
			"t0_hp1" : [ "HP+2", "Increases your base HP by 2" ],
			"t0_dps1" : [ "DPS+1", "Increases your base damage by 1" ],
			"t0_en1" : [ "ENG+2", "Increases your base energy by 2" ],
			"t0_null1" : [ "NULL", "---" ],
			"t0_null2" : [ "NULL", "---" ],
			"t0_def1" : [ "DEF+2", "Increases your base defense by 2" ],
			"t1_lock1" : [ "^orange;TIER 1 LOCK", "Grants access to higher-tier skills and traits\n\nRequired quests:\n- The Erchius Mining Facility" ],

			"t1_bangle" : [ "NULL", "---" ],
			"t1_banglefire" : [ "NULL", "---" ],
			"t1_bangleice" : [ "NULL", "---" ],
			"t1_bangleelectric" : [ "NULL", "---" ],
			"t1_banglepoison" : [ "NULL", "---" ],

			"null_01" : [ "NULL", "---" ],
			"null_02" : [ "NULL", "---" ],
			"null_03" : [ "NULL", "---" ],
			"null_04" : [ "NULL", "---" ],
			"null_05" : [ "NULL", "---" ]/*

			"null_11" : [ "NULL", "---" ],
			"null_12" : [ "NULL", "---" ],
			"null_13" : [ "NULL", "---" ],
			"null_14" : [ "NULL", "---" ],
			"null_15" : [ "NULL", "---" ],
			"null_16" : [ "NULL", "---" ],
			"null_17" : [ "NULL", "---" ],
			"null_18" : [ "NULL", "---" ]



			// Skill Line A - Elemental Comprehension - bangle, grimoires, armor enchants
			/*"vskills_a2root" : [ "Psionic Mastery I", "Focus: ^#ff40af;Spell Attacker^reset;\n\nUnlock blueprints for the Vanta Bangle and research bangle abilities\n\n^yellow;Unlock Beam Bolt^reset;\n\nABILITY INFO:\n> Beam Bolt: A small, unaspected damaging shot." ],
			"vskills_a21" : [ "Basic Fire Comprehension", "Infuses your bangle with the ^#ff5555;fire^reset; element, granting you access to the ^yellow;Fire Bolt^reset; skill.\n\nABILITY INFO:\n> Fire Bolt: A fire-aspected damaging shot." ],
			"vskills_a22" : [ "Basic Ice Comprehension", "Infuses your bangle with the ^#55ffff;ice^reset; element, granting you access to the ^yellow;Ice Bolt^reset; skill.\n\nABILITY INFO:\n> Ice Bolt: An ice-aspected damaging shot." ],
			"vskills_a23" : [ "Basic Electric Comprehension", "Infuses your bangle with the ^#ff55ff;electric^reset; element, granting you access to the ^yellow;Thunder Bolt^reset; skill.\n\nABILITY INFO:\n> Thunder Bolt: An electric-aspected damaging shot." ],
			"vskills_a24" : [ "Basic Poison Comprehension", "Infuses your bangle with the ^#55ff55;poison^reset; element, granting you access to the ^yellow;Bio Bolt^reset; skill.\n\nABILITY INFO:\n> Bio Bolt: A poison-aspected damaging shot." ],

			"vskills_a3root" : [ "Psionic Mastery II", "Focus: ^#ff40af;Spell Attacker^reset;\n\nUnlock new abilities for the Psionic Bangle\n\n^yellow;Unlocks Beam Bolt II^reset;" ],
			"vskills_a31" : [ "Fire Bolt II", "Medium fire damaging shot" ],
			"vskills_a32" : [ "Ice Bolt II", "Medium ice damaging shot" ],
			"vskills_a33" : [ "Thunder Bolt II", "Medium electric damaging" ],
			"vskills_a34" : [ "Bio Bolt II", "Medium poison damaging shot" ],

			/*"vskills_a3root" : [ "Psionic Mastery II", "Focus: ^#ff40af;Supporter^reset;\n\nAdd aditional Bangle alternate abilities for self and party support" ],
			"vskills_a31" : [ "Offensive", "Increase attack power for 40 seconds" ],
			"vskills_a32" : [ "Defensive", "Increase protection for 40 seconds" ],
			"vskills_a33" : [ "Quick", "Increase movement speed for 40 seconds" ],
			"vskills_a34" : [ "Refresh", "Immediately recover from status ailments" ],*/

			/*"vskills_a4root" : [ "Psionic Mastery III", "Focus: ^#ff40af;Spell Attacker^reset;\n\nUnlock new abilities for the Psionic Bangle" ],
			"vskills_a41" : [ "Fire Bolt III", "Large fire damaging shot" ],
			"vskills_a42" : [ "Ice Bolt III", "Large ice damaging shot" ],
			"vskills_a43" : [ "Thunder Bolt III", "Large electric damaging shot" ],
			"vskills_a44" : [ "Bio BOlt III", "Large poison damaging shot" ],

			"vskills_a5root" : [ "", "Focus: ^#ff40af;Hybrid^reset;\n\n" ],
			"vskills_a51" : [ "", "" ],
			"vskills_a52" : [ "", "" ],
			"vskills_a53" : [ "", "" ],
			"vskills_a54" : [ "", "" ],

			"vskills_a6root" : [ "", "Focus: ^#ff40af;Hybrid^reset;\n\n" ],
			"vskills_a61" : [ "", "" ],
			"vskills_a62" : [ "", "" ],
			"vskills_a63" : [ "", "" ],
			"vskills_a64" : [ "", "" ],

			"vskills_a7root" : [ "", "Focus: ^#ff40af;Hybrid^reset;\n\n" ],
			"vskills_a71" : [ "", "" ],
			"vskills_a72" : [ "", "" ],
			"vskills_a73" : [ "", "" ],
			"vskills_a74" : [ "", "" ],

			"vskills_amaster" : [ "???", "" ],


			// Skill Line B - Techs

			"vskills_b2root" : [ "Personal Cloaking", "Focus: ^#ff40af;Evasion^reset;\n\nAdds and enables cloaking Lv1\n  ^orange;Running is suppressed while cloaked" ],
			"vskills_b3root" : [ "Vanta Sphere", "Focus: ^#ff40af;Utility^reset;\n\nAdds a distortion sphere tech that allows you to drop small bombs for clearing debris or weak barriers in tunnels if needed" ],
			"vskills_b4root" : [ "Enhanced Wall Jump", "Focus: ^#ff40af;Mobility^reset;\n\nModifies Wall Jump tech to allow for slower sliding" ],
			"vskills_b5root" : [ "Vanta Nanosphere", "Focus: ^#ff40af;Utility^reset;\n\n" ],
			"vskills_b6root" : [ "Enhanced Personal Cloaking", "Focus: ^#ff40af;Evasion^reset;\n\n" ],
			"vskills_b7root" : [ "", "Focus: ^#ff40af;Utility^reset;\n\n" ],

			"vskills_bmaster" : [ "???", "" ],


			// Skill Line C - Primary Stats
			"vskills_c2root" : [ "Defensive Training I", "Focus: ^#4070ff;Support^reset;\n\nIncrease overall health and protection by a small amount" ],
			"vskills_c21" : [ "Health +5", "Max health +5" ],
			"vskills_c22" : [ "Health +5", "Max health +5" ],
			"vskills_c23" : [ "Protection +5", "Max protection +5" ],
			"vskills_c24" : [ "Protection +5", "Max protection +5" ],

			"vskills_c3root" : [ "Elemental Comprehension I", "Focus: ^#4070ff;Support^reset;\n\n" ],
			"vskills_c31" : [ "Fire +5", "Fire resistance +5" ],
			"vskills_c32" : [ "Ice +5", "Ice resistance +5" ],
			"vskills_c33" : [ "Electric +5", "Ice resistance +5" ],
			"vskills_c34" : [ "Poison +5", "Poison Resistance +5" ],

			"vskills_c4root" : [ "Power Training I", "Focus: ^#4070ff;Support^reset;\n\n" ],
			"vskills_c41" : [ "Energy +5", "Max energy +5" ],
			"vskills_c42" : [ "Energy +5", "Max energy +5" ],
			"vskills_c43" : [ "Power +5", "Max power +5" ],
			"vskills_c44" : [ "Power +5", "Max power +5" ],

			"vskills_c5root" : [ "Defensive Training II", "Focus: ^#4070ff;Support^reset;\n\n" ],
			"vskills_c51" : [ "Health +10", "Max health +10" ],
			"vskills_c52" : [ "Health +10", "Max health +10" ],
			"vskills_c53" : [ "Protection +10", "Max protection +10" ],
			"vskills_c54" : [ "Protection +10", "Max protection +10" ],

			"vskills_c6root" : [ "Elemental Comprehension II", "Focus: ^#4070ff;Support^reset;\n\n" ],
			"vskills_c61" : [ "Fire +10", "Fire resistance +10" ],
			"vskills_c62" : [ "Ice +10", "Ice resistance +10" ],
			"vskills_c63" : [ "Electric +10", "Ice resistance +10" ],
			"vskills_c64" : [ "Poison +10", "Poison Resistance +10" ],

			"vskills_c7root" : [ "Power Training II", "Focus: ^#4070ff;Support^reset;\n\n" ],
			"vskills_c71" : [ "Energy +10", "Max energy +10" ],
			"vskills_c72" : [ "Energy +10", "Max energy +10" ],
			"vskills_c73" : [ "Power +10", "Max power +10" ],
			"vskills_c74" : [ "Power +10", "Max power +10" ],

			"vskills_cmaster" : [ "???", "" ],


			// Skill Line EX-A -
			"vskills_exaroot" : [ "", "" ],
			"vskills_exa1" : [ "", "" ],
			"vskills_exa2" : [ "", "" ],
			"vskills_exa3" : [ "", "" ],
			"vskills_exa4" : [ "", "" ],

			// Skill Line EX-B -
			"vskills_exbroot" : [ "", "" ],
			"vskills_exb1" : [ "", "" ],
			"vskills_exb2" : [ "", "" ],
			"vskills_exb3" : [ "", "" ],
			"vskills_exb4" : [ "", "" ],

			// Skill Line EX-C -
			"vskills_excroot" : [ "", "" ],
			"vskills_exc1" : [ "", "" ],
			"vskills_exc2" : [ "", "" ],
			"vskills_exc3" : [ "", "" ],
			"vskills_exc4" : [ "", "" ],

			// Skill Line EX-D -
			"vskills_exdroot" : [ "", "" ],
			"vskills_exd1" : [ "", "" ],
			"vskills_exd2" : [ "", "" ],
			"vskills_exd3" : [ "", "" ],
			"vskills_exd4" : [ "", "" ],

			// Skill Line EX-E -
			"vskills_exeroot" : [ "", "" ],
			"vskills_exe1" : [ "", "" ],
			"vskills_exe2" : [ "", "" ],
			"vskills_exe3" : [ "", "" ],
			"vskills_exe4" : [ "", "" ],

			// Skill Line EX-F -
			"vskills_exfroot" : [ "", "" ],
			"vskills_exf1" : [ "", "" ],
			"vskills_exf2" : [ "", "" ],
			"vskills_exf3" : [ "", "" ],
			"vskills_exf4" : [ "", "" ],

			// Skill Line EX-G -
			"vskills_exgroot" : [ "", "" ],
			"vskills_exg1" : [ "", "" ],
			"vskills_exg2" : [ "", "" ],
			"vskills_exg3" : [ "", "" ],
			"vskills_exg4" : [ "", "" ],

			// Skill Line EX-H -
			"vskills_exhroot" : [ "", "" ],
			"vskills_exh1" : [ "", "" ],
			"vskills_exh2" : [ "", "" ],
			"vskills_exh3" : [ "", "" ],
			"vskills_exh4" : [ "", "" ],

			// Skill Line EX-I -
			"vskills_exiroot" : [ "", "" ],
			"vskills_exi1" : [ "", "" ],
			"vskills_exi2" : [ "", "" ],
			"vskills_exi3" : [ "", "" ],
			"vskills_exi4" : [ "", "" ],

			// Skill Line EX-J -
			"vskills_exjroot" : [ "", "" ],
			"vskills_exj1" : [ "", "" ],
			"vskills_exj2" : [ "", "" ],
			"vskills_exj3" : [ "", "" ],
			"vskills_exj4" : [ "", "" ],

			// Skill Line EX-K -
			"vskills_exkroot" : [ "", "" ],
			"vskills_exk1" : [ "", "" ],
			"vskills_exk2" : [ "", "" ],
			"vskills_exk3" : [ "", "" ],
			"vskills_exk4" : [ "", "" ],

			// Skill Line EX-L -
			"vskills_exlroot" : [ "", "" ],
			"vskills_exl1" : [ "", "" ],
			"vskills_exl2" : [ "", "" ],
			"vskills_exl3" : [ "", "" ],
			"vskills_exl4" : [ "", "" ]*/
    }
  },

	"hiddenResearch" : {
		"vantaskills" : [
			/*"VA21", "VA22", "VA23", "VA24",
			"VA31", "VA32", "VA33", "VA34",
			"VA41", "VA42", "VA43", "VA44",
			"VA51", "VA52", "VA53", "VA54",
			"VA61", "VA62", "VA63", "VA64",
			"VA71", "VA72", "VA73", "VA74",

			// VBXX line has no sub-nodes to hide

			"VC21", "VC22", "VC23", "VC24",
			"VC31", "VC32", "VC33", "VC34",
			"VC41", "VC42", "VC43", "VC44",
			"VC51", "VC52", "VC53", "VC54",
			"VC61", "VC62", "VC63", "VC64",
			"VC71", "VC72", "VC73", "VC74"//,

			// "VXA0", "VXA1", "VXA2", "VXA3", "VXA4",
			// "VXB0", "VXB1", "VXB2", "VXB3", "VXB4",
			// "VXC0", "VXC1", "VXC2", "VXC3", "VXC4",
			// "VXD0", "VXD1", "VXD2", "VXD3", "VXD4",
			// "VXE0", "VXE1", "VXE2", "VXE3", "VXE4",
			// "VXF0", "VXF1", "VXF2", "VXF3", "VXF4",
			// "VXG0", "VXG1", "VXG2", "VXG3", "VXG4",
			// "VXH0", "VXH1", "VXH2", "VXH3", "VXH4",
			// "VXI0", "VXI1", "VXI2", "VXI3", "VXI4",
			// "VXJ0", "VXJ1", "VXJ2", "VXJ3", "VXJ4",
			// "VXK0", "VXK1", "VXK2", "VXK3", "VXK4",
			// "VXL0", "VXL1", "VXL2", "VXL3", "VXL4"*/
		]
	},

	"versions" : {
		"vantaskills" : "1.0"
	},

	"initiallyResearched" : {
    "vantaskills" : [ "START" ]
  },

	"currencies" : [ ],

	"externalScripts" : [],

	"cutsomGridTileImages" : {
		"vantaskills" : "/interface/scripted/ex_research/gridTileEx2.png"
	},

	"customConsumptionRules" : {
		//"vantaskills" : { "currency" : true, "items" : true }
	},

	"treeIcons" : {
		"vantaskills" : "/interface/scripted/ex_research/icons/vanta.png"
	}
}
