{
	"researchTree" : {
    "vantaskills" : {

			// Skill Line A - Blueprints & Techs
			"vskills_a1root" : {
				"children" : [
					"vskills_a11", "vskills_a12", "vskills_a13", "vskills_a14",
					"vskills_a2root", "vskills_b2root", "vskills_c2root"//,
					//"vskills_exaroot", "vskills_exbroot", "vskills_excroot", "vskills_exdroot",
					//"vskills_exeroot", "vskills_exfroot", "vskills_exgroot", "vskills_exhroot",
					//"vskills_exiroot", "vskills_exjroot", "vskills_exkroot", "vskills_exlroot"
				],
				"position" : [0, 0],
				"price" : [],
				"func" : "reinit",
				"displayText" : "Skill A-1",
				"isRoot" : true
			},
			"vskills_a11" : {
				"children" : [ "vskills_a12" ],
				"position" : [-15, -15],
				"price" : [ ["skillpoint", 25] ],
				"func" : "statPlus",
				"params" : [ "hpPlus", 5 ]
			},
			"vskills_a12" : {
				"children" : [ "vskills_a13" ],
				"position" : [-5, -15],
				"price" : [ ["skillpoint", 25] ],
				"func" : "statPlus",
				"params" : [ "epPlus", 5 ]
			},
			"vskills_a13" : {
				"children" : [ "vskills_a14" ],
				"position" : [5, -15],
				"price" : [ ["skillpoint", 25] ],
				"func" : "statPlus",
				"params" : [ "spPlus", 5 ]
			},
			"vskills_a14" : {
				"children" : [ "vskills_a2root", "vskills_b2root", "vskills_c2root" ],
				"position" : [15, -15],
				"price" : [ ["skillpoint", 25] ],
				"func" : "statPlus",
				"params" : [ "dpsPlus", 0.05 ]
			},


			// Skill Line A - Offensive Abilities & Blueprints
			"vskills_a2root" : {
				"children" : [ "vskills_a21" ],
				"position" : [60, 60],
				"price" : [],
				"unlocks" : [ "psibangle" ],
				"displayText" : "Skill A-2",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_a21" : {
				"children" : [ "vskills_a22" ],
				"position" : [45, 45],
				"price" : [ ["skillpoint", 35] ],
				"func" : "addBanglePrimaryAbility",
				"params" : [ 2, "firebolt" ]
			},
			"vskills_a22" : {
				"children" : [ "vskills_a23" ],
				"position" : [55, 45],
				"price" : [ ["skillpoint", 35] ],
				"func" : "addBanglePrimaryAbility",
				"params" : [ 3, "icebolt" ]
			},
			"vskills_a23" : {
				"children" : [ "vskills_a24" ],
				"position" : [65, 45],
				"price" : [ ["skillpoint", 35] ],
				"func" : "addBanglePrimaryAbility",
				"params" : [ 4, "thunderbolt" ]
			},
			"vskills_a24" : {
				"children" : [ "vskills_a3root" ],
				"position" : [75, 45],
				"price" : [ ["skillpoint", 35] ],
				"func" : "addBanglePrimaryAbility",
				"params" : [ 5, "biobolt" ]
			},


			"vskills_a3root" : {
				"children" : [ "vskills_a4root", "vskills_a31", "vskills_a32", "vskills_a33", "vskills_a34" ],
				"position" : [120, 60],
				"price" : [],
				"displayText" : "Skill A-3",
				"isRoot" : true,
				"alwaysShow" : true,
				"func" : "addBanglePrimaryAbility",
				"params" : [ 6, "beambolt2" ]
			},
			"vskills_a31" : {
				"children" : [ "vskills_a4root" ],
				"position" : [110, 70],
				"price" : [ ["skillpoint", 50] ]
			},
			"vskills_a32" : {
				"children" : [ "vskills_a4root" ],
				"position" : [130, 70],
				"price" : [ ["skillpoint", 50] ]
			},
			"vskills_a33" : {
				"children" : [ "vskills_a4root" ],
				"position" : [110, 50],
				"price" : [ ["skillpoint", 50] ]
			},
			"vskills_a34" : {
				"children" : [ "vskills_a4root" ],
				"position" : [130, 50],
				"price" : [ ["skillpoint", 50] ]
			},


			"vskills_a4root" : {
				"children" : [ "vskills_a5root", "vskills_a41", "vskills_a42", "vskills_a43", "vskills_a44" ],
				"position" : [180, 60],
				"price" : [],
				"displayText" : "Skill A-4",
				"isRoot" : true,
				"alwaysShow" : true,
				"func" : "addBanglePrimaryAbility",
				"params" : [ 11, "beambolt3" ]
			},
			"vskills_a41" : {
				"children" : [ "vskills_a5root" ],
				"position" : [170, 70],
				"price" : [ ["skillpoint", 70] ]
			},
			"vskills_a42" : {
				"children" : [ "vskills_a5root" ],
				"position" : [190, 70],
				"price" : [ ["skillpoint", 70] ]
			},
			"vskills_a43" : {
				"children" : [ "vskills_a5root" ],
				"position" : [170, 50],
				"price" : [ ["skillpoint", 70] ]
			},
			"vskills_a44" : {
				"children" : [ "vskills_a5root" ],
				"position" : [190, 50],
				"price" : [ ["skillpoint", 70] ]
			},


			"vskills_a5root" : {
				"children" : [ "vskills_a6root", "vskills_a51", "vskills_a52", "vskills_a53", "vskills_a54" ],
				"position" : [240, 60],
				"price" : [],
				"displayText" : "Skill A-5",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_a51" : {
				"children" : [ "vskills_a6root" ],
				"position" : [230, 70],
				"price" : [ ["skillpoint", 100] ],
				"func" : null,
				"params" : null
			},
			"vskills_a52" : {
				"children" : [ "vskills_a6root" ],
				"position" : [250, 70],
				"price" : [ ["skillpoint", 100] ],
				"func" : null,
				"params" : null
			},
			"vskills_a53" : {
				"children" : [ "vskills_a6root" ],
				"position" : [230, 50],
				"price" : [ ["skillpoint", 100] ],
				"func" : null,
				"params" : null
			},
			"vskills_a54" : {
				"children" : [ "vskills_a6root" ],
				"position" : [250, 50],
				"price" : [ ["skillpoint", 100] ],
				"func" : null,
				"params" : null
			},


			"vskills_a6root" : {
				"children" : [ "vskills_a7root", "vskills_a61", "vskills_a62", "vskills_a63", "vskills_a64" ],
				"position" : [300, 60],
				"price" : [],
				"displayText" : "Skill A-6",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_a61" : {
				"children" : [ "vskills_a7root" ],
				"position" : [290, 70],
				"price" : [ ["skillpoint", 200] ],
				"func" : null,
				"params" : null
			},
			"vskills_a62" : {
				"children" : [ "vskills_a7root" ],
				"position" : [310, 70],
				"price" : [ ["skillpoint", 200] ],
				"func" : null,
				"params" : null
			},
			"vskills_a63" : {
				"children" : [ "vskills_a7root" ],
				"position" : [290, 50],
				"price" : [ ["skillpoint", 200] ],
				"func" : null,
				"params" : null
			},
			"vskills_a64" : {
				"children" : [ "vskills_a7root" ],
				"position" : [310, 50],
				"price" : [ ["skillpoint", 200] ],
				"func" : null,
				"params" : null
			},


			"vskills_a7root" : {
				"children" : [ /*"vskills_amaster",*/ "vskills_a71", "vskills_a72", "vskills_a73", "vskills_a74" ],
				"position" : [360, 60],
				"price" : [],
				"displayText" : "Skill A-7",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_a71" : {
				//"children" : [ "vskills_amaster" ],
				"position" : [350, 70],
				"price" : [ ["skillpoint", 300] ],
				"func" : null,
				"params" : null
			},
			"vskills_a72" : {
				//"children" : [ "vskills_amaster" ],
				"position" : [370, 70],
				"price" : [ ["skillpoint", 300] ],
				"func" : null,
				"params" : null
			},
			"vskills_a73" : {
				//"children" : [ "vskills_amaster" ],
				"position" : [350, 50],
				"price" : [ ["skillpoint", 300] ],
				"func" : null,
				"params" : null
			},
			"vskills_a74" : {
				//"children" : [ "vskills_amaster" ],
				"position" : [370, 50],
				"price" : [ ["skillpoint", 300] ],
				"func" : null,
				"params" : null
			},


			"vskills_amaster" : {
				"position" : [600, 60],
				"price" : [],
				//"displayText" : "MASTER SKILL",
				"displayText" : "???",
				"isRoot" : true,
				"alwaysShow" : true
			},


			// Skill Line B - Techs
			"vskills_b2root" : {
				"children" : [ "vskills_b3root" ],
				"position" : [60, 0],
				"price" : [],
				"displayText" : "Skill B-2",
				"isRoot" : true,
				"alwaysShow" : true,
				"func" : "modifyTech",
				"params" : "vantastealth1"
			},

			"vskills_b3root" : {
				"children" : [ "vskills_b4root" ],
				"position" : [120, 0],
				"price" : [],
				"displayText" : "Skill B-3",
				"isRoot" : true,
				"alwaysShow" : true
			},

			"vskills_b4root" : {
				"children" : [ "vskills_b5root" ],
				"position" : [180, 0],
				"price" : [],
				"displayText" : "Skill B-4",
				"isRoot" : true,
				"alwaysShow" : true
			},

			"vskills_b5root" : {
				"children" : [ "vskills_b6root" ],
				"position" : [240, 0],
				"price" : [],
				"displayText" : "Skill B-5",
				"isRoot" : true,
				"alwaysShow" : true
			},

			"vskills_b6root" : {
				"children" : [ "vskills_b7root" ],
				"position" : [300, 0],
				"price" : [],
				"displayText" : "Skill B-6",
				"isRoot" : true,
				"alwaysShow" : true
			},

			"vskills_b7root" : {
				//"children" : [ "vskills_bmaster" ],
				"position" : [360, 0],
				"price" : [],
				"displayText" : "Skill B-7",
				"isRoot" : true,
				"alwaysShow" : true
			},


			"vskills_bmaster" : {
				"position" : [600, 0],
				"price" : [],
				//"displayText" : "MASTER SKILL",
				"displayText" : "???",
				"isRoot" : true,
				"alwaysShow" : true
			},


			// Skill Line C - Stat-focused
			"vskills_c2root" : {
				"children" : [ "vskills_c3root", "vskills_c21", "vskills_c22", "vskills_c23", "vskills_c24" ],
				"position" : [60, -60],
				"price" : [],
				"displayText" : "Skill C-2",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_c21" : {
				"children" : [ "vskills_c3root" ],
				"position" : [50, -50],
				"price" : [ ["skillpoint", 35] ],
				"func" : "statPlus",
				"params" : [ "hpPlus", 5 ]
			},
			"vskills_c22" : {
				"children" : [ "vskills_c3root" ],
				"position" : [70, -50],
				"price" : [ ["skillpoint", 35] ],
				"func" : "statPlus",
				"params" : [ "hpPlus", 5 ]
			},
			"vskills_c23" : {
				"children" : [ "vskills_c3root" ],
				"position" : [50, -70],
				"price" : [ ["skillpoint", 35] ],
				"func" : "statPlus",
				"params" : [ "spPlus", 5 ]
			},
			"vskills_c24" : {
				"children" : [ "vskills_c3root" ],
				"position" : [70, -70],
				"price" : [ ["skillpoint", 35] ],
				"func" : "statPlus",
				"params" : [ "spPlus", 5 ]
			},


			"vskills_c3root" : {
				"children" : [ "vskills_c4root", "vskills_c31", "vskills_c32", "vskills_c33", "vskills_c34" ],
				"position" : [120, -60],
				"price" : [],
				"displayText" : "Skill C-3",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_c31" : {
				"children" : [ "vskills_c4root" ],
				"position" : [110, -50],
				"price" : [ ["skillpoint", 50] ],
				"func" : null,
				"params" : null
			},
			"vskills_c32" : {
				"children" : [ "vskills_c4root" ],
				"position" : [130, -50],
				"price" : [ ["skillpoint", 50] ],
				"func" : null,
				"params" : null
			},
			"vskills_c33" : {
				"children" : [ "vskills_c4root" ],
				"position" : [110, -70],
				"price" : [ ["skillpoint", 50] ],
				"func" : null,
				"params" : null
			},
			"vskills_c34" : {
				"children" : [ "vskills_c4root" ],
				"position" : [130, -70],
				"price" : [ ["skillpoint", 50] ],
				"func" : null,
				"params" : null
			},


			"vskills_c4root" : {
				"children" : [ "vskills_c5root", "vskills_c41", "vskills_c42", "vskills_c43", "vskills_c44" ],
				"position" : [180, -60],
				"price" : [],
				"displayText" : "Skill C-4",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_c41" : {
				"children" : [ "vskills_c5root" ],
				"position" : [170, -50],
				"price" : [ ["skillpoint", 70] ],
				"func" : null,
				"params" : null
			},
			"vskills_c42" : {
				"children" : [ "vskills_c5root" ],
				"position" : [190, -50],
				"price" : [ ["skillpoint", 70] ],
				"func" : null,
				"params" : null
			},
			"vskills_c43" : {
				"children" : [ "vskills_c5root" ],
				"position" : [170, -70],
				"price" : [ ["skillpoint", 70] ],
				"func" : null,
				"params" : null
			},
			"vskills_c44" : {
				"children" : [ "vskills_c5root" ],
				"position" : [190, -70],
				"price" : [ ["skillpoint", 70] ],
				"func" : null,
				"params" : null
			},


			"vskills_c5root" : {
				"children" : [ "vskills_c6root", "vskills_c51", "vskills_c52", "vskills_c53", "vskills_c54" ],
				"position" : [240, -60],
				"price" : [],
				"displayText" : "Skill C-5",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_c51" : {
				"children" : [ "vskills_c6root" ],
				"position" : [230, -50],
				"price" : [ ["skillpoint", 100] ],
				"func" : null,
				"params" : null
			},
			"vskills_c52" : {
				"children" : [ "vskills_c6root" ],
				"position" : [250, -50],
				"price" : [ ["skillpoint", 100] ],
				"func" : null,
				"params" : null
			},
			"vskills_c53" : {
				"children" : [ "vskills_c6root" ],
				"position" : [230, -70],
				"price" : [ ["skillpoint", 100] ],
				"func" : null,
				"params" : null
			},
			"vskills_c54" : {
				"children" : [ "vskills_c6root" ],
				"position" : [250, -70],
				"price" : [ ["skillpoint", 100] ],
				"func" : null,
				"params" : null
			},


			"vskills_c6root" : {
				"children" : [ /*"vskills_c7root",*/ "vskills_c61", "vskills_c62", "vskills_c63", "vskills_c64" ],
				"position" : [300, -60],
				"price" : [],
				"displayText" : "Skill C-6",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_c61" : {
				"children" : [ "vskills_c7root" ],
				"position" : [290, -50],
				"price" : [ ["skillpoint", 200] ],
				"func" : null,
				"params" : null
			},
			"vskills_c62" : {
				"children" : [ "vskills_c7root" ],
				"position" : [310, -50],
				"price" : [ ["skillpoint", 200] ],
				"func" : null,
				"params" : null
			},
			"vskills_c63" : {
				"children" : [ "vskills_c7root" ],
				"position" : [290, -70],
				"price" : [ ["skillpoint", 200] ],
				"func" : null,
				"params" : null
			},
			"vskills_c64" : {
				"children" : [ "vskills_c7root" ],
				"position" : [310, -70],
				"price" : [ ["skillpoint", 200] ],
				"func" : null,
				"params" : null
			},


			"vskills_c7root" : {
				"children" : [ /*"vskills_cmaster",*/ "vskills_c71", "vskills_c72", "vskills_c73", "vskills_c74" ],
				"position" : [360, -60],
				"price" : [],
				"displayText" : "Skill C-7",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_c71" : {
				//"children" : [ "vskills_cmaster" ],
				"position" : [350, -50],
				"price" : [ ["skillpoint", 300] ],
				"func" : null,
				"params" : null
			},
			"vskills_c72" : {
				//"children" : [ "vskills_cmaster" ],
				"position" : [370, -50],
				"price" : [ ["skillpoint", 300] ],
				"func" : null,
				"params" : null
			},
			"vskills_c73" : {
				//"children" : [ "vskills_cmaster" ],
				"position" : [350, -70],
				"price" : [ ["skillpoint", 300] ],
				"func" : null,
				"params" : null
			},
			"vskills_c74" : {
				//"children" : [ "vskills_cmaster" ],
				"position" : [370, -70],
				"price" : [ ["skillpoint", 300] ],
				"func" : null,
				"params" : null
			},


			"vskills_cmaster" : {
				"position" : [600, -60],
				"price" : [],
				//"displayText" : "MASTER SKILL",
				"displayText" : "???",
				"isRoot" : true,
				"alwaysShow" : true
			}//,


			// Skill Line EX
			/*"vskills_exaroot" : {
				"children" : [ "vskills_exa1", "vskills_exa2", "vskills_exa3", "vskills_exa4" ],
				"position" : [],
				"price" : [],
				"displayText" : "Skill EX-A",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_exa1" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exa2" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exa3" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exa4" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			}//,

			/*"vskills_exbroot" : {
				"children" : [ "vskills_exb1", "vskills_exb2", "vskills_exb3", "vskills_exb4" ],
				"position" : [],
				"price" : [],
				"displayText" : "Skill EX-B",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_exb1" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exb2" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exb3" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exb4" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			}//,

			/*"vskills_excroot" : {
				"children" : [ "vskills_exc1", "vskills_exc2", "vskills_exc3", "vskills_exc4" ],
				"position" : [],
				"price" : [],
				"displayText" : "Skill EX-C",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_exc1" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exc2" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exc3" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exc4" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			}//,

			/*"vskills_exdroot" : {
				"children" : [ "vskills_exd1", "vskills_exd2", "vskills_exd3", "vskills_exd4" ],
				"position" : [],
				"price" : [],
				"displayText" : "Skill EX-D",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_exd1" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exd2" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exd3" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exd4" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			}//,

			/*"vskills_exeroot" : {
				"children" : [ "vskills_exe1", "vskills_exe2", "vskills_exe3", "vskills_exe4" ],
				"position" : [],
				"price" : [],
				"displayText" : "Skill EX-E",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_exe1" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exe2" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exe3" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exe4" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			}//,

			/*"vskills_exfroot" : {
				"children" : [ "vskills_exf1", "vskills_exf2", "vskills_exf3", "vskills_exf4" ],
				"position" : [],
				"price" : [],
				"displayText" : "Skill EX-F",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_exf1" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exf2" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exf3" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exf4" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			}//,

			/*"vskills_exgroot" : {
				"children" : [ "vskills_exg1", "vskills_exg2", "vskills_exg3", "vskills_exg4" ],
				"position" : [],
				"price" : [],
				"displayText" : "Skill EX-G",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_exg1" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exg2" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exg3" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exg4" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			}//,

			/*"vskills_exhroot" : {
				"children" : [ "vskills_exh1", "vskills_exh2", "vskills_exh3", "vskills_exh4" ],
				"position" : [],
				"price" : [],
				"displayText" : "Skill EX-H",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_exh1" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exh2" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exh3" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exh4" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			}//,

			/*"vskills_exiroot" : {
				"children" : [ "vskills_exi1", "vskills_exi2", "vskills_exi3", "vskills_exi4" ],
				"position" : [],
				"price" : [],
				"displayText" : "Skill EX-I",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_exi1" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exi2" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exi3" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exi4" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			}//,

			/*"vskills_exjroot" : {
				"children" : [ "vskills_exj1", "vskills_exj2", "vskills_exj3", "vskills_exj4" ],
				"position" : [],
				"price" : [],
				"displayText" : "Skill EX-J",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_exj1" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exj2" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exj3" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exj4" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			}//,

			/*"vskills_exkroot" : {
				"children" : [ "vskills_exk1", "vskills_exk2", "vskills_exk3", "vskills_exk4" ],
				"position" : [],
				"price" : [],
				"displayText" : "Skill EX-K",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_exk1" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exk2" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exk3" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			},
			"vskills_exk4" : {
				"position" : [],
				"price" : [],
				"func" : null,
				"params" : null
			}//,

			/*"vskills_exlroot" : {
				"children" : [ "vskills_exl1", "vskills_exl2", "vskills_exl3", "vskills_exl4" ],
				"position" : [],
				"price" : [],
				"displayText" : "Skill EX-L",
				"isRoot" : true,
				"alwaysShow" : true
			},
			"vskills_exl1" : {
				"position" : [],
				"price" : []
			},
			"vskills_exl2" : {
				"position" : [],
				"price" : []
			},
			"vskills_exl3" : {
				"position" : [],
				"price" : []
			},
			"vskills_exl4" : {
				"position" : [],
				"price" : []
			}*/
    }
  },

	"acronyms" : {
    "vantaskills" : {
			"VA10" : "vskills_a1root",
			"VA11" : "vskills_a11",
			"VA12" : "vskills_a12",
			"VA13" : "vskills_a13",
			"VA14" : "vskills_a14",


			// Skill Line A

			"VA20" : "vskills_a2root",
			"VA21" : "vskills_a21",
			"VA22" : "vskills_a22",
			"VA23" : "vskills_a23",
			"VA24" : "vskills_a24",

			"VA30" : "vskills_a3root",
			"VA31" : "vskills_a31",
			"VA32" : "vskills_a32",
			"VA33" : "vskills_a33",
			"VA34" : "vskills_a34",

			"VA40" : "vskills_a4root",
			"VA41" : "vskills_a41",
			"VA42" : "vskills_a42",
			"VA43" : "vskills_a43",
			"VA44" : "vskills_a44",

			"VA50" : "vskills_a5root",
			"VA51" : "vskills_a51",
			"VA52" : "vskills_a52",
			"VA53" : "vskills_a53",
			"VA54" : "vskills_a54",

			"VA60" : "vskills_a6root",
			"VA61" : "vskills_a61",
			"VA62" : "vskills_a62",
			"VA63" : "vskills_a63",
			"VA64" : "vskills_a64",

			"VA70" : "vskills_a7root",
			"VA71" : "vskills_a71",
			"VA72" : "vskills_a72",
			"VA73" : "vskills_a73",
			"VA74" : "vskills_a74",

			"VAM" : "vskills_amaster",


			// Skill Line B
			"VB20" : "vskills_b2root",
			"VB30" : "vskills_b3root",
			"VB40" : "vskills_b4root",
			"VB50" : "vskills_b5root",
			"VB60" : "vskills_b6root",
			"VB70" : "vskills_b7root",

			"VBM" : "vskills_bmaster",


			// Skill Line C
			"VC20" : "vskills_c2root",
			"VC21" : "vskills_c21",
			"VC22" : "vskills_c22",
			"VC23" : "vskills_c23",
			"VC24" : "vskills_c24",

			"VC30" : "vskills_c3root",
			"VC31" : "vskills_c31",
			"VC32" : "vskills_c32",
			"VC33" : "vskills_c33",
			"VC34" : "vskills_c34",

			"VC40" : "vskills_c4root",
			"VC41" : "vskills_c41",
			"VC42" : "vskills_c42",
			"VC43" : "vskills_c43",
			"VC44" : "vskills_c44",

			"VC50" : "vskills_c5root",
			"VC51" : "vskills_c51",
			"VC52" : "vskills_c52",
			"VC53" : "vskills_c53",
			"VC54" : "vskills_c54",

			"VC60" : "vskills_c6root",
			"VC61" : "vskills_c61",
			"VC62" : "vskills_c62",
			"VC63" : "vskills_c63",
			"VC64" : "vskills_c64",

			"VC70" : "vskills_c7root",
			"VC71" : "vskills_c71",
			"VC72" : "vskills_c72",
			"VC73" : "vskills_c73",
			"VC74" : "vskills_c74",

			"VCM" : "vskills_cmaster"//,


			// Skill Line EX
			/*"VXA0" : "vskills_exaroot",
			"VXA1" : "vskills_exa1",
			"VXA2" : "vskills_exa2",
			"VXA3" : "vskills_exa3",
			"VXA4" : "vskills_exa4"//,

			/*"VXB0" : "vskills_exbroot",
			"VXB1" : "vskills_exb1",
			"VXB2" : "vskills_exb2",
			"VXB3" : "vskills_exb3",
			"VXB4" : "vskills_exb4"//,

			/*"VXB0" : "vskills_excroot",
			"VXB1" : "vskills_exc1",
			"VXB2" : "vskills_exc2",
			"VXB3" : "vskills_exc3",
			"VXB4" : "vskills_exc4"//,

			/*"VXB0" : "vskills_exdroot",
			"VXB1" : "vskills_exd1",
			"VXB2" : "vskills_exd2",
			"VXB3" : "vskills_exd3",
			"VXB4" : "vskills_exd4"//,

			/*"VXE0" : "vskills_exeroot",
			"VXE1" : "vskills_exe1",
			"VXE2" : "vskills_exe2",
			"VXE3" : "vskills_exe3",
			"VXE4" : "vskills_exe4"//,

			/*"VXF0" : "vskills_exfroot",
			"VXF1" : "vskills_exf1",
			"VXF2" : "vskills_exf2",
			"VXF3" : "vskills_exf3",
			"VXF4" : "vskills_exf4"//,

			/*"VXG0" : "vskills_exgroot",
			"VXG1" : "vskills_exg1",
			"VXG2" : "vskills_exg2",
			"VXG3" : "vskills_exg3",
			"VXG4" : "vskills_exg4"//,

			/*"VXH0" : "vskills_exhroot",
			"VXH1" : "vskills_exh1",
			"VXH2" : "vskills_exh2",
			"VXH3" : "vskills_exh3",
			"VXH4" : "vskills_exh4"//,

			/*"VXI0" : "vskills_exiroot",
			"VXI1" : "vskills_exi1",
			"VXI2" : "vskills_exi2",
			"VXI3" : "vskills_exi3",
			"VXI4" : "vskills_exi4"//,

			/*"VXJ0" : "vskills_exjroot",
			"VXJ1" : "vskills_exj1",
			"VXJ2" : "vskills_exj2",
			"VXJ3" : "vskills_exj3",
			"VXJ4" : "vskills_exj4"//,

			/*"VXK0" : "vskills_exkroot",
			"VXK1" : "vskills_exk1",
			"VXK2" : "vskills_exk2",
			"VXK3" : "vskills_exk3",
			"VXK4" : "vskills_exk4"//,

			/*"VXL0" : "vskills_exlroot",
			"VXL1" : "vskills_exl1",
			"VXL2" : "vskills_exl2",
			"VXL3" : "vskills_exl3",
			"VXL4" : "vskills_exl4"*/
    }
  },

	"strings" : {
    "currencies" : [],

    "trees" : {
      "vantaskills" : "Vanta Skill Line"
    },

    "research" : {
			// Starting Point
			"vskills_a1root" : [ "Basic Training I", "Increase overall core stats" ],
			"vskills_a11" : [ "Health +5", "Max heatlth +5" ],
			"vskills_a12" : [ "Energy +5", "Max energy +5" ],
			"vskills_a13" : [ "Protection +5", "Max protection +5" ],
			"vskills_a14" : [ "Power +5", "Base attack power +5" ],


			// Skill Line A - Bangle Abilities, primary stats and ELR
			"vskills_a2root" : [ "Psionic Mastery I", "Focus: ^#ff40af;Spell Attacker^reset;\n\nUnlock blueprints for the Vanta Bangle and research bangle abilities\n\n^yellow;Unlock Beam Bolt^reset;\n\nABILITY INFO:\n> Beam Bolt: A small, unaspected damaging shot." ],
			"vskills_a21" : [ "Fire Mastery (Bangle)", "Infuses your bangle with the ^#ff5555;fire^reset; element, granting you access to the ^yellow;Fire Bolt^reset; skill.\n\nABILITY INFO:\n> Fire Bolt: A fire-aspected damaging shot." ],
			"vskills_a22" : [ "Ice Mastery (Bangle)", "Infuses your bangle with the ^#55ffff;ice^reset; element, granting you access to the ^yellow;Ice Bolt^reset; skill.\n\nABILITY INFO:\n> Ice Bolt: An ice-aspected damaging shot." ],
			"vskills_a23" : [ "Thunder Mastery (Bangle)", "Infuses your bangle with the ^#ff55ff;electric^reset; element, granting you access to the ^yellow;Thunder Bolt^reset; skill.\n\nABILITY INFO:\n> Thunder Bolt: An electric-aspected damaging shot." ],
			"vskills_a24" : [ "Poison Mastery (Bangle)", "Infuses your bangle with the ^#55ff55;poison^reset; element, granting you access to the ^yellow;Bio Bolt^reset; skill.\n\nABILITY INFO:\n> Bio Bolt: A poison-aspected damaging shot." ],

			"vskills_a3root" : [ "Psionic Mastery II", "Focus: ^#ff40af;Spell Attacker^reset;\n\nUnlock new abilities for the Psionic Bangle\n\n^yellow;Unlocks Beam Bolt II^reset;" ],
			"vskills_a31" : [ "Fire Bolt II", "Medium fire damaging shot" ],
			"vskills_a32" : [ "Ice Bolt II", "Medium ice damaging shot" ],
			"vskills_a33" : [ "Thunder Bolt II", "Medium electric damaging" ],
			"vskills_a34" : [ "Bio Bolt II", "Medium poison damaging shot" ],

			/*"vskills_a3root" : [ "Psionic Mastery II", "Focus: ^#ff40af;Supporter^reset;\n\nAdd aditional Bangle alternate abilities for self and party support" ],
			"vskills_a31" : [ "Offensive", "Increase attack power for 40 seconds" ],
			"vskills_a32" : [ "Defensive", "Increase protection for 40 seconds" ],
			"vskills_a33" : [ "Quick", "Increase movement speed for 40 seconds" ],
			"vskills_a34" : [ "Refresh", "Immediately recover from status ailments" ],*/

			"vskills_a4root" : [ "Psionic Mastery III", "Focus: ^#ff40af;Spell Attacker^reset;\n\nUnlock new abilities for the Psionic Bangle" ],
			"vskills_a41" : [ "Fire Bolt III", "Large fire damaging shot" ],
			"vskills_a42" : [ "Ice Bolt III", "Large ice damaging shot" ],
			"vskills_a43" : [ "Thunder Bolt III", "Large electric damaging shot" ],
			"vskills_a44" : [ "Bio BOlt III", "Large poison damaging shot" ],

			"vskills_a5root" : [ "", "Focus: ^#ff40af;Hybrid^reset;\n\n" ],
			"vskills_a51" : [ "", "" ],
			"vskills_a52" : [ "", "" ],
			"vskills_a53" : [ "", "" ],
			"vskills_a54" : [ "", "" ],

			"vskills_a6root" : [ "", "Focus: ^#ff40af;Hybrid^reset;\n\n" ],
			"vskills_a61" : [ "", "" ],
			"vskills_a62" : [ "", "" ],
			"vskills_a63" : [ "", "" ],
			"vskills_a64" : [ "", "" ],

			"vskills_a7root" : [ "", "Focus: ^#ff40af;Hybrid^reset;\n\n" ],
			"vskills_a71" : [ "", "" ],
			"vskills_a72" : [ "", "" ],
			"vskills_a73" : [ "", "" ],
			"vskills_a74" : [ "", "" ],

			"vskills_amaster" : [ "???", "" ],


			// Skill Line B - Techs

			"vskills_b2root" : [ "Personal Cloaking", "Focus: ^#ff40af;Evasion^reset;\n\nAdds and enables cloaking Lv1\n  ^orange;Running is suppressed while cloaked" ],
			"vskills_b3root" : [ "Vanta Sphere", "Focus: ^#ff40af;Utility^reset;\n\nAdds a distortion sphere tech that allows you to drop small bombs for clearing debris or weak barriers in tunnels if needed" ],
			"vskills_b4root" : [ "Enhanced Wall Jump", "Focus: ^#ff40af;Mobility^reset;\n\nModifies Wall Jump tech to allow for slower sliding" ],
			"vskills_b5root" : [ "Vanta Nanosphere", "Focus: ^#ff40af;Utility^reset;\n\n" ],
			"vskills_b6root" : [ "Enhanced Personal Cloaking", "Focus: ^#ff40af;Evasion^reset;\n\n" ],
			"vskills_b7root" : [ "", "Focus: ^#ff40af;Utility^reset;\n\n" ],

			"vskills_bmaster" : [ "???", "" ],


			// Skill Line C - Primary Stats
			"vskills_c2root" : [ "Defensive Training I", "Focus: ^#4070ff;Support^reset;\n\nIncrease overall health and protection by a small amount" ],
			"vskills_c21" : [ "Health +5", "Max health +5" ],
			"vskills_c22" : [ "Health +5", "Max health +5" ],
			"vskills_c23" : [ "Protection +5", "Max protection +5" ],
			"vskills_c24" : [ "Protection +5", "Max protection +5" ],

			"vskills_c3root" : [ "Elemental Comprehension I", "Focus: ^#4070ff;Support^reset;\n\n" ],
			"vskills_c31" : [ "Fire +5", "Fire resistance +5" ],
			"vskills_c32" : [ "Ice +5", "Ice resistance +5" ],
			"vskills_c33" : [ "Electric +5", "Ice resistance +5" ],
			"vskills_c34" : [ "Poison +5", "Poison Resistance +5" ],

			"vskills_c4root" : [ "Power Training I", "Focus: ^#4070ff;Support^reset;\n\n" ],
			"vskills_c41" : [ "Energy +5", "Max energy +5" ],
			"vskills_c42" : [ "Energy +5", "Max energy +5" ],
			"vskills_c43" : [ "Power +5", "Max power +5" ],
			"vskills_c44" : [ "Power +5", "Max power +5" ],

			"vskills_c5root" : [ "Defensive Training II", "Focus: ^#4070ff;Support^reset;\n\n" ],
			"vskills_c51" : [ "Health +10", "Max health +10" ],
			"vskills_c52" : [ "Health +10", "Max health +10" ],
			"vskills_c53" : [ "Protection +10", "Max protection +10" ],
			"vskills_c54" : [ "Protection +10", "Max protection +10" ],

			"vskills_c6root" : [ "Elemental Comprehension II", "Focus: ^#4070ff;Support^reset;\n\n" ],
			"vskills_c61" : [ "Fire +10", "Fire resistance +10" ],
			"vskills_c62" : [ "Ice +10", "Ice resistance +10" ],
			"vskills_c63" : [ "Electric +10", "Ice resistance +10" ],
			"vskills_c64" : [ "Poison +10", "Poison Resistance +10" ],

			"vskills_c7root" : [ "Power Training II", "Focus: ^#4070ff;Support^reset;\n\n" ],
			"vskills_c71" : [ "Energy +10", "Max energy +10" ],
			"vskills_c72" : [ "Energy +10", "Max energy +10" ],
			"vskills_c73" : [ "Power +10", "Max power +10" ],
			"vskills_c74" : [ "Power +10", "Max power +10" ],

			"vskills_cmaster" : [ "???", "" ],


			// Skill Line EX-A -
			"vskills_exaroot" : [ "", "" ],
			"vskills_exa1" : [ "", "" ],
			"vskills_exa2" : [ "", "" ],
			"vskills_exa3" : [ "", "" ],
			"vskills_exa4" : [ "", "" ],

			// Skill Line EX-B -
			"vskills_exbroot" : [ "", "" ],
			"vskills_exb1" : [ "", "" ],
			"vskills_exb2" : [ "", "" ],
			"vskills_exb3" : [ "", "" ],
			"vskills_exb4" : [ "", "" ],

			// Skill Line EX-C -
			"vskills_excroot" : [ "", "" ],
			"vskills_exc1" : [ "", "" ],
			"vskills_exc2" : [ "", "" ],
			"vskills_exc3" : [ "", "" ],
			"vskills_exc4" : [ "", "" ],

			// Skill Line EX-D -
			"vskills_exdroot" : [ "", "" ],
			"vskills_exd1" : [ "", "" ],
			"vskills_exd2" : [ "", "" ],
			"vskills_exd3" : [ "", "" ],
			"vskills_exd4" : [ "", "" ],

			// Skill Line EX-E -
			"vskills_exeroot" : [ "", "" ],
			"vskills_exe1" : [ "", "" ],
			"vskills_exe2" : [ "", "" ],
			"vskills_exe3" : [ "", "" ],
			"vskills_exe4" : [ "", "" ],

			// Skill Line EX-F -
			"vskills_exfroot" : [ "", "" ],
			"vskills_exf1" : [ "", "" ],
			"vskills_exf2" : [ "", "" ],
			"vskills_exf3" : [ "", "" ],
			"vskills_exf4" : [ "", "" ],

			// Skill Line EX-G -
			"vskills_exgroot" : [ "", "" ],
			"vskills_exg1" : [ "", "" ],
			"vskills_exg2" : [ "", "" ],
			"vskills_exg3" : [ "", "" ],
			"vskills_exg4" : [ "", "" ],

			// Skill Line EX-H -
			"vskills_exhroot" : [ "", "" ],
			"vskills_exh1" : [ "", "" ],
			"vskills_exh2" : [ "", "" ],
			"vskills_exh3" : [ "", "" ],
			"vskills_exh4" : [ "", "" ],

			// Skill Line EX-I -
			"vskills_exiroot" : [ "", "" ],
			"vskills_exi1" : [ "", "" ],
			"vskills_exi2" : [ "", "" ],
			"vskills_exi3" : [ "", "" ],
			"vskills_exi4" : [ "", "" ],

			// Skill Line EX-J -
			"vskills_exjroot" : [ "", "" ],
			"vskills_exj1" : [ "", "" ],
			"vskills_exj2" : [ "", "" ],
			"vskills_exj3" : [ "", "" ],
			"vskills_exj4" : [ "", "" ],

			// Skill Line EX-K -
			"vskills_exkroot" : [ "", "" ],
			"vskills_exk1" : [ "", "" ],
			"vskills_exk2" : [ "", "" ],
			"vskills_exk3" : [ "", "" ],
			"vskills_exk4" : [ "", "" ],

			// Skill Line EX-L -
			"vskills_exlroot" : [ "", "" ],
			"vskills_exl1" : [ "", "" ],
			"vskills_exl2" : [ "", "" ],
			"vskills_exl3" : [ "", "" ],
			"vskills_exl4" : [ "", "" ]
    }
  },

	"hiddenResearch" : {
		"vantaskills" : [
			"VA21", "VA22", "VA23", "VA24",
			"VA31", "VA32", "VA33", "VA34",
			"VA41", "VA42", "VA43", "VA44",
			"VA51", "VA52", "VA53", "VA54",
			"VA61", "VA62", "VA63", "VA64",
			"VA71", "VA72", "VA73", "VA74",

			// VBXX line has no sub-nodes to hide

			"VC21", "VC22", "VC23", "VC24",
			"VC31", "VC32", "VC33", "VC34",
			"VC41", "VC42", "VC43", "VC44",
			"VC51", "VC52", "VC53", "VC54",
			"VC61", "VC62", "VC63", "VC64",
			"VC71", "VC72", "VC73", "VC74"//,

			// "VXA0", "VXA1", "VXA2", "VXA3", "VXA4",
			// "VXB0", "VXB1", "VXB2", "VXB3", "VXB4",
			// "VXC0", "VXC1", "VXC2", "VXC3", "VXC4",
			// "VXD0", "VXD1", "VXD2", "VXD3", "VXD4",
			// "VXE0", "VXE1", "VXE2", "VXE3", "VXE4",
			// "VXF0", "VXF1", "VXF2", "VXF3", "VXF4",
			// "VXG0", "VXG1", "VXG2", "VXG3", "VXG4",
			// "VXH0", "VXH1", "VXH2", "VXH3", "VXH4",
			// "VXI0", "VXI1", "VXI2", "VXI3", "VXI4",
			// "VXJ0", "VXJ1", "VXJ2", "VXJ3", "VXJ4",
			// "VXK0", "VXK1", "VXK2", "VXK3", "VXK4",
			// "VXL0", "VXL1", "VXL2", "VXL3", "VXL4"
		]
	},

	"versions" : {
		"vantaskills" : "1.0"
	},

	"initiallyResearched" : {
    "vantaskills" : [ "VA10" ]
  },

	"currencies" : [ ],

	"externalScripts" : [],

	"customConsumptionRules" : {
		//"vantaskills" : { "currency" : true, "items" : true }
	},

	"cutsomGridTileImages" : {
		"vantaskills" : "/interface/scripted/ex_research/gridTileEx.png"
	},

	"treeIcons" : {},

	"drawLines" : {
		"1" : {
			"position" : [0, 0],
			"endPoints" : [ "2a", "2b", "2c" ]
		},

		"2a" : {
			"position" : [60, 0],
			"endPoints" : [ "3" ]
		},
		"2b" : {
			"position" : [600, 0]
		},
		"2c" : {
			"position" : [60, 0],
			"endPoints" : [ "4" ]
		},

		"3" : {
			"position" : [60, 60],
			"endPoints" : [ "5" ]
		},
		"4" : {
			"position" : [60, -60],
			"endPoints" : [ "6" ]
		},

		"5" : {
			"position" : [600, 60]
		},
		"6" : {
			"position" : [600, -60]
		}
	}
}
