{
	"researchTree" : {
    "vantaresearch" : {
      "vantabasic" : {
        "icon" : "/interface/scripted/ex_research/icons/vanta.png",
				"children" : [ "grimoires1", "bangles1" ],
        "position" : [0, 0],
				"price" : []
      },

			"grimoires1" : {
				"icon" : "/interface/scripted/ex_research/icons/grimoire.png",
				"children" : [ "elements1" ],
				"position" : [30, 30],
				"price" : [["grimoireresearchfile", 1]],
				"unlocks" : [ "ruinbook1", "ceruleumink1" ]
			},

			"bangles1" : {
				"icon" : "/interface/scripted/ex_research/icons/bangle.png",
				"children" : [ "elements1" ],
				"position" : [-30, 30],
				"price" : [["bangleresearchfile", 1]],
				"unlocks" : [ "psibangle" ]
			},

			"elements1" : {
				"icon" : "/interface/scripted/ex_research/icons/elements.png",
				"children" : [ "grimoires2", "bangles2" ],
				"position" : [0, 60],
				"price" : [["scorchedcore", 10], ["cryonicextract", 10], ["staticcell", 10], ["venomsample", 10]]
			},

			"grimoires2" : {
				"icon" : "/interface/scripted/ex_research/icons/grimoire.png",
				"children" : [ "elements2" ],
				"position" : [30, 90],
				"price" : [["grimoireresearchfile", 1]],
				"unlocks" : [ "firebook1", "icebook1", "electricbook1", "poisonbook1", "ceruleumink2" ]
			},

			"bangles2" : {
				"icon" : "/interface/scripted/ex_research/icons/bangle.png",
				"children" : [ "elements2" ],
				"position" : [-30, 90],
				"price" : [["bangleresearchfile", 1]],
				"unlocks" : [ "psifirebangle", "psiicebangle", "psielectricbangle", "psipoisonbangle" ]
			},

			"elements2" : {
				"icon" : "/interface/scripted/ex_research/icons/elements.png",
				"position" : [0, 120],
				"price" : [ ["psiflame", 10], ["psifrost", 10], ["psishock", 10], ["psipoison", 10] ]
			}

			//------------------------------More to be added later------------------------------
			/*"elements3" : {
				"icon" : "/interface/scripted/ex_research/icons/psi.png",
				//"children" : [ "bangles3", "grimoires3" ],
				"position" : [0, 60],
				"price" : [["darkessence", 100], ["liquidceruleum", 100], ["phasematter", 10]]
			}*/
    }
  },

	"acronyms" : {
    "vantaresearch" : {
      "VBS" : "vantabasic",
			"EL1" : "elements1",
			"GM1" : "grimoires1",
			"GM2" : "grimoires2",
			"EL2" : "elements2",
			"BG1" : "bangles1",
			"BG2" : "bangles2"
			//"EL3" : "elements3"
    }
  },

	"strings" : {
    "currencies" : {},

    "trees" : {
      "vantaresearch" : "Vanta Research"
    },

    "research" : {
			"default"	: [ "Select Research", "Select a research node by clicking on the icons in the grid.\n\nYou can navigate the grid by holding the left mouse button and dragging.\n\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of research files, from which you can zoom to other research nodes." ],

			"vantabasic"	: [ "Basic Knowledge", "You've started on your journey, having narrowly escaped a fate worse than death. You've learned more about yourself from your ordeal, and what really makes you what you are. You now begin to research the myriad truths of your existence, and have begun to research into the forbidden technologies and arts that the Nightars have kept hidden. The few notes you have point you towards looking into \"Dark Fragments\", which are shown to be nearly all over the universe in various quantities." ],

			"elements1" : [ "Elemental Applications I", "Taking a queue from other weapon designs, you've decided to try your hand at creating your own elemental variations. This will help pave the way for additional weapons with more unique designs." ],

			"elements2" : [ "Elemental Applications II", "Out in the field, you've noted that special variants of monsters exist that leave residual, psionic traces behind when felled. Collecting these trace elements has yielded similar signatures to other, solid matter dropped by monsters, but these traces seem to 'resonate' with you on a psychic level." ],

			"grimoires1" : [ "Grimoires I", "Dr. Doppler has given you a research file on griomoires, using the weathered grimoire as a basis. The first step is always practice. A basic understanding of the conductivity of dark essence and how it can be combined with various ores is necessary for further research." ],

			"grimoires2" : [ "Grimoires II", "Dr. Doppler is satisfied with your initial field tests of your grimoire. The telemetry she's collected has furthered your research together and she has given you the go-ahead to branch out further in your fabrication of these wondrous tomes." ],

			"bangles1" : [ "Bangles I", "That old bangle of yours is a prime candidate for research, as it is a lost relic from ancient Vanta history. Historical Vanta texts tell of powerful, psychic warriors who were able to harness and manipulate elemental attacks at a much more potent scale than typical weapons that had elements 'built-in' to them. Harnessing the energy into a basic attack is the first step towards this realization." ],

			"bangles2" : [ "Bangles I", "Further research into the psionic variants of the common elements has yielded promising results, and you are now ready to put those applications to the test. Utilizing your knowledge of the many psionic traces you've collected has given you a keen intellect in psychic forging." ]

			//"elements3" : [ "Elemental Applications III", "A common element among Nightar and Vanta technology is the recurring substance known as 'ceruleum'. Preliminary analysis shows that ceruleum shares certain properties with dark fragments, but have yet to discern how they are linked until recently. Through painstaking research, you've discerned the connection between dark fragments and ceruleum, and have managed to harness ceruleum as an element." ]
    }
  },

	"initiallyResearched" : {
    "vantaresearch" : [ "VBS" ]
  },

	"hiddenResearch" : {
		"vantaresearch" : [ ]
	},

	"currencies" : [],

	"externalScripts" : [ ],

	"cutsomGridTileImages" : {
		"vantaresearch" : "/interface/scripted/ex_research/gridTileEx.png"
	},

	"versions" : {
		"vantaresearch" : "1.0"
	}
}
