{
	"Data" : {
		"ignoredInstances" : [ "protectorate", "felinintro" ],
		"minimumUptime" : 0
	},
	"ztarbound" : {
		"image" : "/zb/updateInfoWindow/ztarbound.png",
		"file" : "/_ZBversioning.config"
	},

	"nightarsRevived" : {
		"image" : "/zb/updateInfoWindow/nightars.png",
		"file" : "/_NightarVersioning.config"
	}
}
