{
	"Data" : {
		"ignoredInstances" : [ "protectorate", "felinintro" ],
		"minimumUptime" : 1
	},
	"ztarbound" : {
		"image" : "/zb/updateInfoWindow/ztarbound.png",
		"file" : "/_ZBversioning.config"
	},

	"vantasRevived" : {
		"image" : "/zb/updateInfoWindow/vantas.png",
		"file" : "/_NightarVersioning.config"
	}
}
