{
	"Data" : {
		"ignoredInstances" : [ "protectorate", "felinintro" ],
		"minimumUptime" : 1
	},
	"ztarbound" : {
		"image" : "/zb/updateInfoWindow/ztarbound.png",
		"file" : "/_ZBversioning.config"
	},

	"vanta-race" : {
		"image" : "/zb/updateInfoWindow/nightars.png",
		"file" : "/_VantaVersioning.config"
	}
}
