{
  "gui" : {
    "background" : {
      "zLevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/nightarpocsec/header.png",
      "fileBody" : "/interface/scripted/nightarpocsec/body.png",
      "fileFooter" : ""
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [185, 241]
    },
    "lblNoteText" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [17, 230],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "color" : "#7dc5b3",
      "value" : "",
      "wrapWidth" : 170
    },
    "imgCodeImg" : {
      "type" : "image",
      "file" : "/interface/scripted/nightarpocsec/codes.png:blank",
      "position" : [150, 70],
      "zLevel" : 2
    }
  },
  "scripts" : ["/interface/scripted/nightarpocsec/nightarpocsecgui.lua"],
  "scriptDelta" : 0
}
