{
  "researchTree" : {
    "general" : {
      "basic" : {
        "icon" : "/objects/crafting/ironanvil/ironanvilicon.png",
        "children" : [ "fuels", "augments1" ],
        "position" : [0, 0]
      },

      "fuels" : {
        "icon" : "/zb/researchTree/icons/fuels.png",
        "position" : [30, 0],
        "price" : [ ["liquidfuel", 100], ["liquidceruleum", 100] ],
        "unlocks" : [ "erchiusfuelcell", "ceruleumfuelcell" ]
      },

      "augments1" : {
        "icon" : "/zb/researchTree/icons/augments.png",
        "unlocks" : [ "nanobench", "fireblockaugment", "iceblockaugment" ],
        "children" : [ "augments2" ],
        "position" : [0, -30],
        "price" : [ ["scorchedcore", 20], ["cryonicextract", 20] ]
      },

      "augments2" : {
        "icon" : "/zb/researchTree/icons/augments.png",
        "unlocks" : [ "damageaugment2", "energyaugment2", "healthaugment2", "healingaugment2", "lightaugment2", "electricblockaugment" ],
        "children" : [ "augments3" ],
        "position" : [0, -60],
        "price" : [ ["staticcell", 50], ["liquidhealing", 50] ]
      },

      "augments3" : {
        "icon" : "/zb/researchTree/icons/augments.png",
        "unlocks" : [ "damageaugment3", "energyaugment3", "healthaugment3", "healingaugment3", "lightaugment3", "poisonblockaugment" ],
        "children" : [ "augarmors" ],
        "position" : [0, -90],
        "price" : [ ["venomsample", 50], ["livingroot", 50] ]
      },

      "augarmors" : {
        "icon" : "/items/generic/crafting/augmentadaptor.png",
        "unlocks" : ["enhancer", "exoticcomponent1", "exoticcomponent2", "exoticcomponent3", "augmentadaptor"],
        "position" : [0, -120],
        "price" : [ ["refinedaegisalt", 20], ["refinedferozium", 20], ["refinedviolium", 20], ["solariumstar", 20] ]
      }
    }
  },

  "acronyms" : {
    "general" : {
      "BAS" : "basic",
      "FUEL" : "fuels",
      "AUG1" : "augments1",
      "AUG2" : "augments2",
      "AUG3" : "augments3",
      "AUG4" : "augarmors"
    }
  },

  "strings" : {
    "currencies" : {},

    "trees" : {
      "general" : "General Practices"
    },

    "research" : {
      "default"	: [ "Select a Research",			"Select a research by clicking one of the icons on the grid.\n\nYou can navigate the grid by dragging with the left mouse button.\n\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of researches, from which you can zoom to other researches." ],

      "basic" : [ "Basic Knowledge",      "^orange;Tier 0^reset;\n\nYou have a working body, a sound mind, and a drive to improve yourself. You have tools at your disposal to begin branching out into other fields. Over time, you'll learn many different practices and sciences. The universe is yours for the taking. Metaphorically speaking, of course." ],

      "fuels" : [ "Fuel Cells",      "^orange;Tier 1^reset;\n\nKeeping fuel around can be messy, and in many cases, the fumes can make you nauseous or otherwise cause you to pass out. Studying the field of FTL technology, you come to find you can actually retrofit your FTL fuel hatch to contain fuel cells, with more efficiency and vastly greater fuel reserves. Not to mention getting rid of the smell of Erchius that likes to waft through the place as it pleases." ],

      "augments1" : [ "Augments I",      "^orange;Tier 1^reset;\n\nAugments are commonplace throughout the universe. At least, in the sense that they exist. Most of the time, you're stuck relying on the chance that an augment merchant will magically appear wherever it is you decide to explore. F$%# that; let's make our own!" ],

      "augments2" : [ "Augments II",      "^orange;Tier 2^reset;\n\nAs you begin to grasp the basic knowledge of augments, you begin to understand some of their limitations. However, you also realize their capabilities, and have begun to put more effort into creating more powerful augments. What could go wrong with adding some more oomph into them? (No, seriously, what could go wrong?)" ],

      "augments3" : [ "Augments III",      "^orange;Tier 3^reset;\n\n\"More, more, more!\" is the phrase that keeps repeating itself in your head. You've made excellent progress, and you continue to strive for even more powerful tools at your disposal; tools in the form of Augment Chips because they are clearly the best thing in existence." ],

      "augarmors" : [ "Augments (Mastered)",      "^orange;Tier 7^reset;\n\nAhh, at long last, the pinnacle of augment research has arrived. Or rather, you've arrived to it. Whatever. Let's make some more augments! NO, WAIT... LET'S MAKE AUGMENTABLE ARMORS INSTEAD! What's that? Why only the tier 6 armor sets? Because while augmenting everything may SEEM like fun, it would ultimately break game balance. OH SHIT, WE BROKE THE FOURTH WALL, IGNORE THIS." ]
    }
  },

  "initiallyResearched" : {
    "general" : [ "BAS" ]
  },

  "hiddenResearch" : {},

  "currencies" : [],

  "externalScripts" : [],

  "customGridTileImages" : {},

  "versions" : {
    "general" : "1.0"
  }
}
