{
	"researchTree" : {
    "vantaresearch" : {
      "basic" : {
        "icon" : "/zb/researchTree/icons/vanta.png",
				"children" : ["vantaspec1", "vantatech1a", "vantatech2a", "vantamani"],
        "position" : [0, 0],
				"price" : []
      },

      "vantaspec1" : {
        "icon" : "/items/generic/crafting/darkfragmentore.png",
        "unlocks" : [ "darkessence" ],
        "children" : [ "vantaspec2" ],
        "position" : [-30, 0],
        "price" : [ ["darkfragmentore", 50] ]
      },

      "vantaspec2" : {
        "icon" : "/items/generic/crafting/nightsteel.png",
        "unlocks" : [ "nightsteelbar" ],
        "children" : [ "vantaspec3" ],
        "position" : [-30, -30],
        "price" : [ ["darkessence", 100] ]
      },

			"vantaspec3" : {
        "icon" : "/items/generic/crafting/darkcrystal.png",
        "unlocks" : [ "darkcrystal" ],
				//"children" : [ "vantaexotic" ],
        "position" : [-30, -60],
        "price" : [ ["nightsteelbar", 50] ]
      },

			"vantaexotic" : {
        "icon" : "/zb/researchTree/icons/vantaarmory.png",
        "unlocks" : [ "bunshoki", "yonaga", "yorunoha", "yorunokama", "yorunoyumi", "yosamu" ],
        "position" : [-30, -90],
        "price" : [ ["darkessence", 100] ]
      },

			"vantamani" : {
				"icon" : "/items/tools/vantamanipulator/vantamanipulator.png",
				"price" : [ ["darkcrystal", 5], ["nightsteelbar", 10] ],
				"position" : [0, -30],
				"func" : "giveEssentialItem",
				"params" : "vantamanipulator"
			},

			"vantatech1a" : {
				"icon" : "/tech/vantasphere.png",
				"children" : [ "vantatech1b" ],
				"position" : [-30, 30],
				"price" : [ ["nightsteelbar", 10] ],
				"func" : "newSphere",
				"params" : "vantasphere"
			},

			"vantatech1b" : {
				"icon" : "/tech/vantananosphere.png",
				"children" : [ "vantatech1c" ],
				"position" : [-30, 60],
				"price" : [ ["nightsteelbar", 25] ],
				"func" : "newSphere",
				"params" : "vantananosphere"
			},

			"vantatech1c" : {
				"icon" : "/tech/vantananosphere2.png",
				"position" : [-30, 90],
				"price" : [ ["nightsteelbar", 50] ],
				"func" : "newSphere",
				"params" : "vantananosphere2"
			},

			"vantatech2a" : {
				"icon" : "/tech/vantastealth/vantastealth1.png",
				"children" : [ "vantatech2b" ],
				"position" : [0, 30],
				"price" : [ ["darkessence", 25], ["darkcrystal", 5] ],
				"func" : "newDash",
				"params" : "vantastealth1"
			},

			"vantatech2b" : {
				"icon" : "/tech/vantastealth/vantastealth2.png",
				"position" : [0, 60],
				"price" : [ ["darkessence", 50], ["darkcrystal", 10] ],
				"func" : "newDash",
				"params" : "vantastealth2"
			},

			"vantapsi" : {
				"icon" : "/zb/researchTree/icons/psi.png",
				"position" : [30, 0],
				"price" : [ ["darkcrystal", 20] ]
			}
    }
  },

	"acronyms" : {
    "vantaresearch" : {
      "BAS" : "basic",
				"VMAN" : "vantamani",
				"PSI1" : "vantapsi",
					//"PSI2" : "vantapsi2",
					//"PSI3" : "vantapsi3",
      	"VSP1" : "vantaspec1",
      		"VSP2" : "vantaspec2",
      		"VSP3" : "vantaspec3",
      		"VEXO" : "vantaexotic",
				"VT1A" : "vantatech1a",
					"VT1B" : "vantatech1b",
					"VT1C" : "vantatech1c",
				"VT2A" : "vantatech2a",
					"VT2B" : "vantatech2b"
    }
  },

	"strings" : {
    "currencies" : {},

    "trees" : {
      "vantaresearch" : "Vanta Sciences"
    },

    "research" : {
			"default"	: [ "Select Research",			"Select a research node by clicking on the icons in the grid.\n\nYou can navigate the grid by holding the left mouse button and dragging.\n\nThe left button at the top left corner will move the view to the center of the tree, and the left button will open a list of research files, from which you can zoom to other research nodes." ],

			"basic"	: [ "Basic Knowledge",			"^orange;Tier 0^reset;\n\nYou've started on your journey, having narrowly escaped a fate worse than death. You've learned more about yourself from your ordeal, and what really makes you what you are. You now begin to research the myriad truths of your existence, and have begun to research into the forbidden technologies and arts that the Nightars have kept hidden. The few notes you have point you towards looking into \"Dark Fragments\", which are shown to be nearly all over the universe in various quantities." ],

			"vantamani"	: [ "Manipulator Technology",			"^green;Supplemental^reset;\n\nHaving grasped the fundamentals of the Matter Manipulator, you've come to understand its inner workings and its usefulness. However, you also still have that deep-rooted sense of superiority. Rather than abandon the device outright, you seek to improve upon it and have created a schematic that greatly improves upon its design. All you need is a sufficient power source and the materials to handle it properly." ],

      "vantaspec1" : [ "Vanta Spec I",			"^orange;Tier 1^reset;\n\nHaving collected a large enough sampling size of Dark Fragments, at first glance you realize that these are largely overlooked by other species as pretty, jet-black gemstones. However, only through the eyes of a Nightar, and subsequently, a Vanta like yourself, reveals a luminescence about them. You sense a special type of energy within that you can surely put to use." ],

      "vantaspec2" : [ "Vanta Spec II",				"^orange;Tier 2^reset;\n\nYour research into the Dark Fragments has led to the discovery that the energy contained within them can act as a catalyst of sorts to other metals. At various stages, and with the proper amount of catalyizing material, the metals can be turned into the famed \"Nightsteel\" that are used to produce Nightarian armor and weapons." ],

      "vantaspec3" : [ "Vanta Spec III",			"^orange;Tier 4^reset;\n\nThe Dark Fragments seem to almost be speaking to you at this point. You conduct your symphony of research with promising results, and have gained further insight into how the fragments work. Initially, they had to be cracked open to make use of the energy contained within, but you've discovered that combining the fragments as they are, along with their catalyst forms, into a single object creates the coveted Dark Crystals, which brim with power. Creating these crystals has piqued your curiosity into making specialty weapons and equipment, and you continue you research." ],

      "vantaexotic" : [ "Exotic Armory",				"^orange;Tier 6^reset;\n\nYour research into the Dark Fragments have yielded exceptional results. Over time, you've managed to learn an aspect that your predecessors kept hidden from you under their misguided conception that you weren't truly one of them. But their secrets are laid bare to you now; the tales of legendary weapons once thought to be merely fables can now become reality." ],

			"vantatech1a" : [ "DS Augmentation",			"^orange;Tier 1^reset;\n\nYou've been pondering the usefulness of Distortion Sphere technology, and have begun to think about improvements to its functions. Using Elliott's research, you've devised a schematic to give additional speed and offensive capabilities to your Distortion Sphere, which will pave the way for more sphere tech research." ],

			"vantatech1b" : [ "DS Compression - Mk.I",			"^orange;Tier 3^reset;\n\nElliott is impressed with your ingenuity, and you've both pondered upon compressing matter further down without creating catastrophic effects on the body. After some time of tinkering, Elliott has presented you with a schematic for an even smaller sphere tech, while retaining the functionalities from your last venture.\n\n^red;(Overwrites Vanta Sphere)^reset;" ],

			"vantatech1c" : [ "DS Compression - Mk.II",			"^orange;Tier 5^reset;\n\nWhile researching, Elliott pondered the overall usefulness of the various sphere techs in practice, and has decided that of all things to combine, your own nano sphere and the Spike Sphere are suitable candidates for a new, omni-centric approach. Elliott once more has sent you some schematics to craft this marvel of sphere tech, which you are all too delighted to try out.\n\n^red;(Overwrites Vanta Nano Sphere)" ],

			"vantatech2a" : [ "Personnel Cloaking - Mk.I",			"^orange;Tier 1^reset;\n\nSome monsters are able to phase-shift, rendering them temporarily invulnerable to all forms of attack, and even allowing them to pass through solid matter. Having sifted through research upon reearch upon research, you've concluded that you would never be able to adapt any piece of technology to allow you to do either. However, you did manage to achieve a breakthrough: rather than rendering yourself invulnerable or being able to phase through walls, you were able to render yourself invisible to the naked eye. The downside is that you have to force yourself to walk in order not to break the field accidentally." ],

			"vantatech2b" : [ "Personnel Cloaking - Mk.II",			"^orange;Tier 3^reset;\n\nCombining your research with Elliott's, and allowing her to observe your techniques, she has stolen away back to her lab with comprehensive data and has begun working on a new stealth module with more stability than your previous one. Being able to run while stealthed comes in handy, eh?\n\n^red;(Overwrites Previous Stealth Tech)" ],

			"vantapsi" : ["Vanta Psionics I",				""]
    }
  },

	"initiallyResearched" : {
    "vantaresearch" : [ "BAS" ]
  },

	"hiddenResearch" : {
		"vantaresearch" : [ "VSP2", "VSP3", "VEXO", "VT1B", "VT1C", "VT2A", "VT2B", "PSI1" ]
	},

	"currencies" : [],

	"externalScripts" : [ "/zb/researchTree/scripts/vantaUnlocks.lua" ],

	"cutsomGridTileImages" : {},

	"versions" : {
		"vantaresearch" : "1.0"
	}
}
