{
  "gui" : {
    "background" : {
      "zLevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/pocsec/header.png",
      "fileBody" : "/interface/scripted/pocsec/body.png",
      "fileFooter" : ""
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [185, 241]
    },
    "lblNoteText" : {
      "type" : "scrollArea",
      "rect" : [17, 73, 200, 224],
      "zlevel" : 1,
      "children" : {
        "text" : {
          "type" : "label",
          "position" : [17, 230],
          "hAnchor" : "left",
          "vAnchor" : "top",
          //"color" : "#7dc5b3",
          "value" : "",
          "wrapWidth" : 170
        }
      }
    },
    "imgCodeImg" : {
      "type" : "image",
      "file" : "/interface/scripted/pocsec/codes/blank.png",
      "position" : [17, 72],
      "zLevel" : 2
    }
  },
  "scripts" : ["/interface/scripted/pocsec/pocsecgui.lua"],
  "scriptDelta" : 0
}
