{
  "armorSet" : "adept",
  "maxLevel" : 6,
  "upgrades" : {
    "tier1" : {
      "head" : {
        "inventoryIcon" : "tier1/icons.png:head",
        "level" : 1,
        "rarity" : "Common",
        "description" : "A commlink unit. Features a single-eye visor for environmental scans and visual communications.",
        "shortdescription" : "Adept V-Comm",
        "maleFrames" : "tier1/head.png",
        "femaleFrames" : "tier1/head.png"
      },
      "chest" : {
        "inventoryIcon" : "tier1/icons.png:chest",
        "level" : 1,
        "rarity" : "Common",
        "description" : "An evolution of your Adept Suit. Provides a minimal boost in all stats.",
        "shortdescription" : "Adept Power Suit",
        "maleFrames" : {
          "body" : "tier1/chestm.png",
          "backSleeve" : "tier1/bsleeve.png",
          "frontSleeve" : "tier1/fsleeve.png"
        },

        "femaleFrames" : {
          "body" : "tier1/chestf.png",
          "backSleeve" : "tier1/bsleeve.png",
          "frontSleeve" : "tier1/sleeve.png"
        }
      },
      "legs" : {
        "inventoryIcon" : "tier1/icons.png:pants",
        "level" : 1,
        "rarity" : "Common",
        "description" : "Enhanced boots for combat.",
        "shortdescription" : "Adept Boots",
        "maleFrames" : "tier1/pants.png",
        "femaleFrames" : "tier1/pants.png"
      }
    },
    "tier2" : {
      "head" : {

      },
      "chest" : {

      },
      "legs" : {

      }
    },
    "tier3" : {
      "head" : {

      },
      "chest" : {

      },
      "legs" : {

      }
    },
    "tier4" : {
      "head" : {

      },
      "chest" : {

      },
      "legs" : {

      }
    },
    "tier5" : {
      "head" : {

      },
      "chest" : {

      },
      "legs" : {

      }
    },
    "tier6" : {
      "head" : {

      },
      "chest" : {

      },
      "legs" : {

      }
    }
  }
}
