{
  "blockKey" : [
    {
      "value" : [255, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },

    {
      "value" : [0, 0, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true
    },

    {
      "value" : [255, 0, 0, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true
    },

    {
      "value" : [0, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "nightarwall1",
      "flags" : [ "shipLockerPosition" ],
      "object" : "vantashiplocker",
      "objectParameters" : {
        "treasurePools" : [ "vantaStarterTreasure" ],
        "level" : 0.5,
        "unbreakable" : true
      },
      "objectResidual" : false
    },

    {
      "value" : [0, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "nightarwall1",
      "object" : "vantashiplocker",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [142, 255, 142, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "nightarwall1",
      "object" : "vantatechstation",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : false
    },

    {
      "value" : [255, 87, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vantafuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [255, 90, 90, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vantafuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : false
    },

    {
      "value" : [255, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "nightarsupport2",
      "object" : "nightarshiplight",
      "objectResidual" : false
    },

    {
      "value" : [255, 102, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "vantashipdoor",
      "objectResidual" : false
    },

    {
      "value" : [128, 51, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "vantashipdoor",
      "objectResidual" : false,
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [174, 137, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "shipengine",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [156, 0, 255, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "nightarsupport2",
      "object" : "vantashipteleporterTier3",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [79, 0, 128, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "nightarsupport2",
      "object" : "vantashipteleporterTier3",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [167, 167, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "bigboosterflameglitch",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [168, 168, 168, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "smallboosterflameglitch",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [188, 188, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "smallboosterflame",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [0, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "vantacaptainschair",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [122, 122, 122, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblelight",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [255, 232, 128, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblesparker",
      "objectParameters" : {
        "unbreakable" : true
      }
    },

    {
      "value" : [255, 255, 144, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "nightarwall1"
    },

    {
      "value" : [255, 255, 170, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "nightarwall1"
    },

    {
      "value" : [255, 255, 170],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "nightarshipblock"
    },

    {
      "value" : [255, 117, 144, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "nightarsupport2"
    },

    {
      "value" : [255, 255, 220, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "hazard",
      "foregroundResidual" : false
    },

    {
      "value" : [255, 200, 220, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "hazard",
      "foregroundResidual" : false,
      "backgroundMat" : "nightarsupport2"
    },

    {
      "value" : [255, 190, 190, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "hazard",
      "foregroundResidual" : false,
      "backgroundMat" : "nightarsupport2"
    },

    {
      "value" : [255, 117, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "nightarsupport1"
    },

    {
      "value" : [76, 49, 91, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "nightarplatform"
    },

    {
      "value" : [29, 90, 29, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "nightarplatform",
      "foregroundResidual" : false,
      "backgroundMat" : "nightarwall2"
    }
  ]
}
